#!/bin/bash

echo -e "===>  Starting setup installation...\n"

{{ range .packages.pacman }}
packages+=({{- . | quote -}})
{{- end }}

{{- range .packages.aur }}
aur_packages+=({{- . | quote -}})
{{- end }}

_install_confirm() {
  local response
  echo -n -e "$1"
  read -r response

  if [[ "$response" =~ ^[Yy]$|^$ ]]; then
    return 0
  else
    return 1
  fi
}

if ! command -v {{ .chezmoi.config.data.aurHelper }} &>/dev/null; then
  if _install_confirm "===>  {{ .chezmoi.config.data.aurHelper }} is not installed. Install {{ .chezmoi.config.data.aurHelper -}}? [Y/n] " -eq 0; then
    echo -e "===>  Installing {{ .chezmoi.config.data.aurHelper -}}..."
    sudo pacman -S --needed base-devel
    git clone https://aur.archlinux.org/{{ .chezmoi.config.data.aurHelper -}}-bin.git /tmp/aur-helper
    (
      cd /tmp/aur-helper/ || exit 1
      makepkg -si
    )
  fi
else
  echo -e "===>  {{ .chezmoi.config.data.aurHelper }} is installed. Skipping..."
fi

if _install_confirm "Install base packages? [Y/n] " -eq 0; then
  echo -e "\n===>  Installing base packages...\n"
  {{ .chezmoi.config.data.aurHelper }} -S --needed "${packages[@]}"
fi

if _install_confirm "Install AUR packages? [Y/n] " -eq 0; then
  echo -e "\n===>  Installing AUR packages...\n"
  {{ .chezmoi.config.data.aurHelper }} -S --needed "${aur_packages[@]}"
fi

if _install_confirm "Switch shell to zsh? [Y/n] " -eq 0; then
  echo -e "\n===>  Switching shell to zsh...\n"
  chsh -s "$(which zsh)"
fi
