#!/bin/bash

echo -e "===>  Starting post-setup configuration..."

pkg_dir="{{- .chezmoi.sourceDir -}}/assets/install"
wall_dir="{{- .chezmoi.homeDir -}}/Pictures/Wallpaper"
config_dir="${XDG_CONFIG_HOME:-$HOME/.config}"
cache_dir="${XDG_CACHE_HOME:-$HOME/.cache}"
data_dir="${XDG_DATA_HOME:-$HOME/.local/share}"

_install_confirm() {
  local response
  echo -n -e "$1"
  read -r response

  if [[ "$response" =~ ^[Yy]$|^$ ]]; then
    return 0
  else
    return 1
  fi
}

if _install_confirm "Add necessary systemd services? [Y/n] " -eq 0; then
  echo -e "===>  Adding necessary user services..."
  systemctl --user daemon-reload
  {{ range .services -}}
  systemctl --user add-wants niri.service {{ . | quote }} && echo "===>  Added {{ . -}}.service"
  {{ end -}}
  systemctl --user daemon-reload
fi

if [[ ! -d "$cache_dir/niri/landing" ]]; then
  echo -e "===>  Creating cache folder..."
  mkdir -p "$cache_dir/niri/landing/"
else
  echo -e "===>  Cache folder exist. Skipping..."
fi

if _install_confirm "Change GTK settings? [Y/n] " -eq 0; then
  echo -e "===>  Changing GTK settings..."
  gsettings set org.gnome.desktop.interface color-scheme {{ .gtk.deviceTheme | quote }} && echo -e "===>  Device theme set to {{ .gtk.deviceTheme -}}"
  gsettings set org.gnome.desktop.interface cursor-theme {{ .gtk.cursorTheme | quote }} && echo -e "===>  Cursor theme set to {{ .gtk.cursorTheme -}}"
  gsettings set org.gnome.desktop.interface document-font-name {{ .gtk.font | quote }}
  gsettings set org.gnome.desktop.interface font-name {{ .gtk.font | quote }} && echo -e "===>  Font set to {{ .gtk.font -}}"
  gsettings set org.gnome.desktop.interface monospace-font-name {{ .gtk.monospaceFont | quote }} && echo -e "===>  Monospace font set to {{ .gtk.monospaceFont -}}"
  gsettings set org.gnome.desktop.interface gtk-theme {{ .gtk.gtkTheme | quote }} && echo -e "===>  GTK theme set to {{ .gtk.gtkTheme -}}"
  gsettings set org.gnome.desktop.interface icon-theme {{ .gtk.iconTheme | quote }} && echo -e "===>  Icon theme set to {{ .gtk.iconTheme -}}"
fi

if _install_confirm "Setup missing auto-generated colors? [Y/n] " -eq 0; then
  # Directories should be handled by chezmoi, but just in case.
  mkdir -p "$data_dir/color-schemes/"
  mkdir -p "$config_dir/waybar/"
  mkdir -p "$config_dir/rofi/"
  mkdir -p "$config_dir/niri/"
  mkdir -p "$config_dir/swaync/"
  mkdir -p "$config_dir/wlogout/"
  cp "$pkg_dir/Matugen.colors" "$data_dir/color-schemes/Matugen.colors" && echo -e "===>  Copied colorscheme..."
  cp "$pkg_dir/waybar-colors.css" "$config_dir/waybar/colors.css" && echo -e "===>  Copied waybar colors..."
  cp "$pkg_dir/wlogout-colors.css" "$config_dir/wlogout/colors.css" && echo -e "===>  Copied waybar colors..."
  cp "$pkg_dir/niri-colors.kdl" "$config_dir/niri/matugen-colors.kdl" && echo -e "===>  Copied niri colors..."
  cp "$pkg_dir/swaync-colors.css" "$config_dir/swaync/colors.css" && echo -e "===>  Copied SwayNC colors..."
  cp "$pkg_dir/rofi-colors.rasi" "$config_dir/rofi/colors.rasi" && echo -e "===>  Copied rofi colors..."
fi

if _install_confirm "Install VSCode themes for matugen? [Y/n] " -eq 0; then
  codium --install-extension "$pkg_dir/matugen-vscode-1.1.0.vsix" && echo -e "===>  Theme installed successfully..."
fi

if _install_confirm "Setup waypaper config? [Y/n] " -eq 0; then
  echo -e "===>  Copying default background to wallpaper directory... (${wall_dir})"
  mkdir -p "$wall_dir/"
  cp "$pkg_dir/default-bg.png" "$wall_dir/default-bg.png" && echo -e "===>  Copied background..."
  mkdir -p "$config_dir/waypaper/"
  echo -e "===>  Copying initial waypaper config..."
  cp "$pkg_dir/waypaper-config.ini" "$config_dir/waypaper/config.ini" && echo -e "===>  Copied starting waypaper config..."
fi

echo -e "===>  Basic setup completed..."
echo -e "===>  Restart your system to apply changes."
