#!/usr/bin/env bash

{{ template "install-script-utils" }}

if _install_confirm "${BOLD}Switch shell to ${PURPLE_BOLD}{{ .chezmoi.config.data.shell -}}${NC}${BOLD}? [Y/n]${NC} "; then
  echo -e "\n${BLUE_BOLD}===>  ${NC}${BOLD}Switching shell to ${PURPLE_BOLD}{{ .chezmoi.config.data.shell -}}${NC}${BOLD}...${NC}\n"
  chsh -s "$(which {{ .chezmoi.config.data.shell -}})"
fi
