#!/usr/bin/env bash

{{ template "install-script-utils" -}}

pkg_dir="{{- .chezmoi.sourceDir -}}/assets/install"

if _install_confirm "${BOLD}Install VSCode themes for matugen? [Y/n]${NC} "; then
  codium --install-extension "$pkg_dir/matugen-vscode-1.1.0.vsix" && echo -e "${BLUE_BOLD}===>  ${NC}${BOLD}Theme installed successfully...${NC}"
fi
