#!/bin/bash

echo -e "===>  Starting post-setup configuration..."

pkg_dir="{{- .chezmoi.sourceDir -}}/assets/install"
config_dir="${XDG_CONFIG_HOME:-$HOME/.config}"
cache_dir="${XDG_CACHE_HOME:-$HOME/.cache}"
data_dir="${XDG_DATA_HOME:-$HOME/.local/share}"

_install_confirm() {
  local response
  echo -n -e "$1"
  read -r response

  if [[ "$response" =~ ^[Yy]$|^$ ]]; then
    return 0
  else
    return 1
  fi
}

if _install_confirm "Add necessary systemd services? [Y/n] " -eq 0; then
  echo -e "===>  Adding necessary user services..."
  systemctl --user daemon-reload
  {{ range .services -}}
  systemctl --user add-wants niri.service {{ . | quote }} && echo "===>  Added {{ . -}}.service"
  {{ end -}}
  systemctl --user daemon-reload
fi

if [[ ! -d "$cache_dir/niri/landing" ]]; then
  echo -e "===>  Creating cache folder..."
  mkdir -p "$cache_dir/niri/landing/"
else
  echo -e "===>  Cache folder exist. Skipping..."
fi

if _install_confirm "Change GTK settings? [Y/n] " -eq 0; then
  echo -e "===>  Changing GTK settings..."
  gsettings set org.gnome.desktop.interface color-scheme {{ .gtk.deviceTheme | quote }} && echo -e "===>  Device theme set to {{ .gtk.deviceTheme -}}"
  gsettings set org.gnome.desktop.interface cursor-theme {{ .gtk.cursorTheme | quote }} && echo -e "===>  Cursor theme set to {{ .gtk.cursorTheme -}}"
  gsettings set org.gnome.desktop.interface document-font-name {{ .gtk.font | quote }}
  gsettings set org.gnome.desktop.interface font-name {{ .gtk.font | quote }} && echo -e "===>  Font set to {{ .gtk.font -}}"
  gsettings set org.gnome.desktop.interface monospace-font-name {{ .gtk.monospaceFont | quote }} && echo -e "===>  Monospace font set to {{ .gtk.monospaceFont -}}"
  gsettings set org.gnome.desktop.interface gtk-theme {{ .gtk.gtkTheme | quote }} && echo -e "===>  GTK theme set to {{ .gtk.gtkTheme -}}"
  gsettings set org.gnome.desktop.interface icon-theme {{ .gtk.iconTheme | quote }} && echo -e "===>  Icon theme set to {{ .gtk.iconTheme -}}"
fi

if _install_confirm "Install VSCode themes for matugen? [Y/n] " -eq 0; then
  codium --install-extension "$pkg_dir/matugen-vscode-1.1.0.vsix" && echo -e "===>  Theme installed successfully..."
fi

if _install_confirm "Setup missing auto-generated colors? [Y/n] " -eq 0; then
  matugen image "$pkg_dir/default-bg.png" --continue-on-error -m light
fi

echo -e "===>  Basic setup completed..."
echo -e "===>  Restart your system to apply changes."
