#!/usr/bin/env bash

{{ template "install-script-utils" -}}

{{ if (or (eq "arch" .chezmoi.osRelease.id) (eq "arch" .chezmoi.osRelease.idLike)) }}


if ! command -v {{ .aurHelper }} &>/dev/null; then
  if _install_confirm "${YELLOW_BOLD}===>  ${PURPLE_BOLD}{{ .aurHelper }} ${NC}${BOLD}is not installed.\nInstall ${PURPLE_BOLD}{{ .aurHelper -}}${NC}${BOLD}? [Y/n]${NC} "; then
    echo -e "${BLUE_BOLD}===>  ${BOLD}Installing ${PURPLE_BOLD}{{ .aurHelper -}}...${NC}"
    sudo pacman -S --needed base-devel
    git clone https://aur.archlinux.org/{{- .aurHelper -}}-bin.git /tmp/aur-helper
    (
      cd /tmp/aur-helper/ || exit 1
      makepkg -si
    )
  fi
else
  echo -e "${YELLOW_BOLD}===>  ${PURPLE_BOLD}{{ .aurHelper }}${NC}${BOLD} is installed. Skipping...${NC}"
fi

{{ end }}
