#!/usr/bin/env bash

{{ template "install-script-utils" -}}

{{- if (or (eq "arch" .chezmoi.osRelease.id) (eq "arch" .chezmoi.osRelease.idLike)) -}}

{{ range .packages.arch.pacman }}
packages+=({{- . | quote -}})
{{- end }}

{{ range .packages.arch.aur }}
aur_packages+=({{- . | quote -}})
{{- end }}

if _install_confirm "${BOLD}Install base packages? [Y/n]${NC} "; then
  echo -e "\n${BLUE_BOLD}===>  ${NC}${BOLD}Installing base packages...${NC}\n"
  {{ .aurHelper }} -S --needed "${packages[@]}" || echo -e "\n${YELLOW_BOLD}WARNING: ${NC}Package installation failed or cancelled by user.\n"
fi

if _install_confirm "${BOLD}Install AUR packages? [Y/n]${NC} "; then
  echo -e "\n${BLUE_BOLD}===>  ${NC}${BOLD}Installing AUR packages...${NC}\n"
  {{ .aurHelper }} -S --needed "${aur_packages[@]}" || echo -e "\n${YELLOW_BOLD}WARNING: ${NC}Package installation failed or cancelled by user.\n"
fi

{{- else -}}

echo -e "${YELLOW_BOLD}WARNING:${NC}${BOLD} Unsupported distro detected.${NC}"
echo -e "${BOLD}Manual package installation is required.${NC}"

{{- end }}
