#!/usr/bin/env bash

{{ template "install-script-utils" -}}

echo -e "${BLUE_BOLD}===>  ${NC}${BOLD}Basic setup completed...${NC}"
if ! _install_confirm "${BOLD}Reboot system? [y/N] ${NC}" "DEFAULT_NO"; then
  systemctl reboot
fi
