@define-color bar-bg rgba(20, 22, 24, 0.99);
@define-color border-col #504945;

@define-color main-bg #141617;
@define-color main-fg #d4be98;
@define-color main-fg-alt #ddc7a1;

@define-color inact-bg #5e5551;
@define-color inact-fg #d4be98;

@define-color act-bg #7daea3;
@define-color act-fg #282828;

@define-color hvr-bg #89b482;
@define-color hvr-fg #282828;

@define-color pill-dark-bg #242424;
@define-color pill-bg #3c3836;
@define-color pill-bright-bg #4e4743;
