[add]
templateSymlinks = true

[edit]
watch = true

[data]
{{- $shellList := list "zsh" "fish" -}}
{{- $shell := promptChoiceOnce . "shellList" "Which shell would you like to use" $shellList "zsh" }}
shell = {{ $shell | quote }}

{{- if (eq "arch" (get .chezmoi.osRelease "idLike") .chezmoi.osRelease.id) -}}

{{- $aurHelperList := list "yay" "paru" -}}
{{- $aurHelper := promptChoiceOnce . "aurHelperList" "Which AUR helper would you like to use" $aurHelperList "paru" }}
aurHelper = {{ $aurHelper | quote }}

{{- end -}}
