[add]
templateSymlinks = true

[edit]
watch = true

[data]
shell = "zsh" # More options may be added in the future
{{ if (eq "arch" (get .chezmoi.osRelease "idLike") .chezmoi.osRelease.id) -}}

{{- $aurHelperList := list "yay" "paru" -}}
{{- $aurHelper := promptChoiceOnce . "aurHelperList" "Which AUR helper would you like to use" $aurHelperList "paru" -}}

aurHelper = {{ $aurHelper | quote }}

{{- end }}

