{{- $aurHelperList := list "yay" "paru" -}}
{{- $aurHelper := promptChoiceOnce . "aurHelperList" "Which AUR helper would you like to use" $aurHelperList "paru" -}}

[add]
  templateSymlinks = true

[edit]
  watch = true

[data]
    aurHelper = {{ $aurHelper | quote -}}

[package_managers.cargo]
  command = "cargo"
  install_args = ["install"]
