/**
 * @name Midnight Gruvbox
 * @description A dark, grovee , discord theme. Based on Gruvbox's colour palette. (https://vencord.dev/)
 * @author refact0r, SatanAlphabet
 * @version 1.0
 * @midnight_website https://github.com/refact0r/midnight-discord
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

/* customize things here */
body {
  /* font, change to 'gg sans' for default discord font*/
  --font: 'figtree';
  --code-font: '';

  /* amount of spacing and padding */
  --gap: 12px;
  /* thickness of unread messages divider and highlighted message borders */
  --divider-thickness: 4px;
  /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  --border-thickness: 2px;

  /* animations */
  --list-item-transition: 0.2s ease;
  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease;
  /* unread bar moving into view transition */
  --dms-icon-svg-transition: 0.4s ease;
  /* moon icon spin */

  /* top bar options */
  --top-bar-height: var(--gap);
  /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
  --top-bar-button-position: titlebar;
  /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
  --top-bar-title-position: left;
  /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: on;
  /* off: default, on: hide the icon and use subtle text color (like old discord) */

  /* window controls */
  --custom-window-controls: on;
  /* off: default window controls, on: custom window controls */
  --window-control-size: 14px;
  /* size of custom window controls */

  /* chatbar options */
  --custom-chatbar: aligned;
  /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
  --chatbar-height: 47px;
  /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
  --chatbar-padding: 8px;
  /* padding of the chatbar. only applies in aligned mode. */

  /* other options */
  --small-user-panel: off;
  /* off: default user panel, on: smaller user panel like in old discord */

  /* dms button options */
  --custom-dms-icon: custom;
  /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg');
  /* icon svg url. MUST BE A SVG. */
  /* Arch logo: https://www.vectorlogo.zone/logos/archlinux/archlinux-icon.svg */
  --dms-icon-svg-size: 90%;
  /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--icon-secondary);
  /* normal icon color */
  --dms-icon-color-after: var(--white);
  /* icon color when button is hovered/selected */
  --custom-dms-background: off;
  /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url('');
  /* url of the background image */
  --dms-background-image-size: cover;
  /* size of the background image (css background-size property) */
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));
  /* fixed color/gradient (css background property) */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color of status indicators and window controls */
    --online: #a9b665;
    /* change to #23a55a for default green */
    --dnd: #ea6962;
    /* change to #f13f43 for default red */
    --idle: #d8a657;
    /* change to #f0b232 for default yellow */
    --offline: #928374;

    /* accent colors */
    --accent-1: #7daea3;
    /* links */
    --accent-2: #89b482;
    /* general unread/mention elements */
    --accent-3: #89b482;
    /* accent buttons */
    --accent-4: #a9b665;
    /* accent buttons when hovered */
    --accent-5: #d3869b;
    /* accent buttons when clicked */
    --accent-new: #ea6962;
    /* stuff that's normally red like mute/deafen buttons */
    --mention: #ea696225;
    /* mentions & mention messages */
    --mention-hover: #ea696212;
    /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: var(--bg-4);
    /* text on colored elements */
    --text-1: var(--text-3);
    /* other normally white text */
    --text-2: #ddc7a1;
    /* headings and important text */
    --text-3: #d4be98;
    /* normal text */
    --text-4: #a89984;
    /* icon buttons and channels */
    --text-5: #928374;
    /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #1d2021;
    /* dark buttons when clicked */
    --bg-2: #141617;
    /* dark buttons */
    --bg-3: #141617;
    /* spacing, secondary elements */
    --bg-4: #1d2021;
    /* main background color */
    --hover: #50494533;
    /* channels and buttons when hovered */
    --active: #50494566;
    /* channels and buttons when clicked or selected */
    --message-hover: hsla(0, 0%, 0%, 0.1);
    /* messages when hovered */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* color of status indicators and window controls */
    --online: #6c782e;
    /* change to #23a55a for default green */
    --dnd: #c14a4a;
    /* change to #f13f43 for default red */
    --idle: #b47109;
    /* change to #f0b232 for default yellow */
    --offline: #928374;

    /* accent colors */
    --accent-1: #45707a;
    /* links */
    --accent-2: #4c7a5d;
    /* general unread/mention elements */
    --accent-3: #4c7a5d;
    /* accent buttons */
    --accent-4: #6c782e;
    /* accent buttons when hovered */
    --accent-5: #945e80;
    /* accent buttons when clicked */
    --accent-new: #c14a4a;
    /* stuff that's normally red like mute/deafen buttons */
    --mention: #c14a4a25;
    /* mentions & mention messages */
    --mention-hover: #c14a4a12;
    /* mentions & mention messages when hovered */

    /* text colors */
    --text-0: var(--bg-4);
    /* text on colored elements */
    --text-1: var(--text-3);
    /* other normally white text */
    --text-2: #4f3829;
    /* headings and important text */
    --text-3: #654735;
    /* normal text */
    --text-4: #a89984;
    /* icon buttons and channels */
    --text-5: #928374;
    /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #f9f5d7;
    /* dark buttons when clicked */
    --bg-2: #ebdbb2;
    /* dark buttons */
    --bg-3: #ebdbb2;
    /* spacing, secondary elements */
    --bg-4: #f2e5bc;
    /* main background color */
    --hover: #d5c4a133;
    /* channels and buttons when hovered */
    --active: #d5c4a166;
    /* channels and buttons when clicked or selected */
    --message-hover: hsla(0, 0%, 0%, 0.1);
    /* messages when hovered */
  }
}
