@import "./colors.css";

* {
	all: unset;
	font-size: 16px;
	font-family: "Inter Display, CaskaydiaCove Nerd Font Propo";
}

:root {
	--notification-icon-size: 64px;
	--notification-app-icon-size: calc(var(--notification-icon-size) / 4);
	--notification-group-icon-size: 16px;
	--mpris-album-art-icon-size: 80px;
	--widget-volume-row-icon-size: 16px;
	--border-radius: 4px;
}

notificationwindow,
blankwindow {
	background: transparent;
}

.close-button {
	/* The notification Close Button */
	background: @error;
	color: @on-error;
	text-shadow: none;
	padding: 0px;
	margin: 8px;
	border-radius: var(--border-radius);
	box-shadow: none;
	border: none;
	min-width: 8px;
	min-height: 8px;
}

tooltip {
	background-color: @surface;
	color: @on-surface;
	border: 0.2px solid @on-primary-fixed-variant;
	padding: 4px;
}

tooltip label {
	font-size: 0.8em;
}

.close-button:hover {
	background: @secondary;
}

.notification-background {
	padding: 8px;
}

.notification {
	/* The actual notification */
	background: @surface;
	padding: 0px;
	border-radius: var(--border-radius);
	border: 2px solid @outline-variant;
	box-shadow: 0px 1px 8px -2px @shadow;
}

.notification.critical {
	border-color: @error;
}

.notification-default-action {
	/* The large action that also displays the notification summary and body */
	padding: 8px;
	box-shadow: none;
	background: transparent;
	border: none;
	color: @on-surface;
}

.notification-content {
	border-radius: 0px;
	border-left: 4px solid @primary;
	padding: 8px;
}

.notification.low .notification-content {
	border-color: @outline;
}

.notification.critical .notification-content {
	border-color: @error;
}

.notification-content .image {
	/* Notification Primary Image */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-icon-size);
	border-radius: var(--border-radius);
	padding-right: 16px;
	padding-left: 8px;
}

.app-icon {
	/* Notification app icon (only visible when the primary image is set) */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-app-icon-size);
	margin: 4px;
}

.text-box label {
	/* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
	filter: none;
}

.text-box .summary {
	color: @on-surface;
	font-size: 1.2em;
	font-weight: 600;
	text-shadow: none;
}

.text-box .time {
	font-weight: 300;
	font-size: 0.8em;
	color: @outline;
	text-shadow: none;
}

.text-box .body {
	font-weight: normal;
	color: @on-surface;
	text-shadow: none;
}

.notification progressbar {
	/* The optional notification progress bar */
	margin-top: 4px;
	min-height: 10px;
	border: 1px solid @outline-variant;
	border-radius: var(--border-radius);
}

.notification trough {
	min-height: 10px;
	background-color: @surface-variant;
	border-radius: var(--border-radius);
}

.notification progress {
	min-height: 10px;
	background-color: @primary;
	border-radius: var(--border-radius);
}

.notification.low progress {
	background-color: @outline;
}

.notification.critical progress {
	background-color: @error;
}

.body-image {
	/* The "extra" optional bottom notification image */
	background-color: transparent;
	-gtk-icon-filter: none;
}

.inline-reply {
	/* The inline reply section */
	margin-top: 4px;
}

.inline-reply-entry {
	background: transparent;
	color: @on-surface;
	caret-color: @on-surface;
}

.inline-reply-button {
	margin-left: 4px;
	background: @surface-container;
	color: @on-surface;
}

.inline-reply-button:disabled {
	background: @surface;
	color: @outline;
}

.inline-reply-button:hover {
	background: @surface-variant;
}

.notification-alt-actions {
	background: none;
	padding: 0px;
}

.notification-action {
	/* The alternative actions below the default action */
	margin: 8px;
	margin-top: 0px;
}

.notification-action > button {
	padding: 4px;
	margin: 0px;
	border-radius: var(--border-radius);
	background: @surface-container;
	color: @on-surface;
	border: 1px solid @outline-variant;
}

.notification-action > button:hover {
	transition: 100ms;
	background: @surface-variant;
	border-color: @outline;
}

.notification-group {
	background: transparent;
}

.notification-group .notification-group-close-button .close-button {
	margin: 8px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
	margin: 8px;
}

.notification-group .notification-group-headers {
	background: transparent;
}

.notification-group .notification-group-headers .notification-group-icon {
	color: @outline;
	-gtk-icon-size: var(--notification-group-icon-size);
	margin-right: 4px;
}

.notification-group .notification-group-headers .notification-group-header {
	color: @on-surface-variant;
}

.notification-group .notification-group-buttons {
	color: @outline;
}

.control-center {
	background: @surface;
	color: @on-surface;
	border-radius: var(--border-radius);
	padding: 12px;
	border: 2px solid @on-primary-fixed-variant;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.control-center .control-center-list-placeholder {
	opacity: 1;
}

.control-center .control-center-list {
	padding: 0px;
	margin: 0px;
}

.control-center .notification-background {
	padding: 4px;
	padding-left: 0px;
	padding-right: 0px;
}

.control-center .notification {
	background: @surface-container;
	box-shadow: none;
}

.control-center .notification.critical {
	border-color: @error;
}

.control-center .notification-action > button {
	background: @surface;
}

.control-center .notification-action > button:hover {
	background: @surface-variant;
	border-color: @outline;
}

.control-center .notification-default-action,
.control-center .notification-action {
	transition:
		background 150ms ease-in-out,
		opacity 400ms ease-in-out;
}

.blank-window {
	/* Window behind control center and on all other monitors */
	background: transparent;
}

.floating-notifications {
	background: transparent;
}

/*** Widgets ***/

.widget {
	margin: 4px 0px;
	padding: 8px;
	border-radius: var(--border-radius);
	background: @surface-container;
}

.widget-notifications {
	background: @surface;
	padding: 0px;
}

.widget-title {
	margin-top: 0px;
}

.widget-title > label {
	margin-right: 8px;
	font-size: 1.25em;
}

.widget-title > button {
	transition: 100ms;
	border-radius: var(--border-radius);
	background-color: @surface;
	color: @on-surface;
	border: 1px solid @outline-variant;
	padding: 4px 8px;
}

.widget-title > button:hover {
	background: @surface-variant;
}

.widget-title > button:active {
	background-color: @primary-container;
	color: @primary;
	border-color: @primary;
}

.widget-dnd {
	background: @surface-container;
}

.widget-dnd label {
	color: @on-surface;
	font-size: 0.9em;
}

.widget-dnd switch {
	padding: 2px;
	border-radius: var(--border-radius);
	background: @surface;
	border: 1px solid @outline-variant;
}

.widget-dnd > switch:checked {
	background: @primary;
}

.widget-dnd switch slider {
	border-radius: calc(var(--border-radius) / 2);
	background: @outline;
}

.widget-dnd > switch:checked slider {
	background: @surface;
}

.widget-mpris {
	/* The parent to all players */
	padding: 0px;
}

.widget-mpris-player {
	margin: 8px;
}

.mpris-overlay {
	padding: 0px;
	background-color: @surface-container;
}

.mpris-overlay button {
	/* The media player buttons (play, pause, next, etc...) */
	padding: 6px;
	background: @surface;
	transition: 100ms;
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
}

.mpris-overlay button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.mpris-overlay button:active {
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

.widget-mpris-album-art {
	border-radius: var(--border-radius);
	-gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris-title {
	font-weight: 600;
}

.widget-mpris-subtitle {
	font-size: 0.8em;
}

.widget-mpris > box > button {
	/* Change player side buttons */
	margin: 0px 8px;
	color: @on-surface-variant;
}

.widget-mpris > box > button:disabled {
	color: @outline-variant;
}

.widget-buttons-grid flowboxchild > button {
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
	transition: 100ms;
	padding: 4px 0px;
	margin: 4px;
	background-color: @surface;
}

.widget-buttons-grid flowboxchild > button label {
	font-size: 1.2em;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
	/* style given to the active toggle button */
	background-color: @primary;
	color: @on-primary;
}

.widget-buttons-grid flowboxchild > button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.widget-buttons-grid flowboxchild > button.toggle:active,
.widget-buttons-grid flowboxchild > button:active {
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

.widget-backlight trough,
.widget-volume trough {
	background-color: @surface;
	border: 1px solid @outline-variant;
	border-radius: var(--border-radius);
	min-height: 4px;
	margin: 2px 0px;
	margin-left: 8px;
}

.widget-backlight slider,
.widget-volume slider {
	background-color: @outline-variant;
	border: 1px solid @outline;
	border-radius: var(--border-radius);
	min-height: 4px;
	min-width: 15px;
}

.widget-backlight slider:hover,
.widget-volume slider:hover {
	background-color: @outline;
}

.widget-backlight highlight,
.widget-volume highlight {
	background-color: @primary;
	border-radius: var(--border-radius);
	min-height: 4px;
}

.widget-volume row image {
	-gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
	border-radius: var(--border-radius);
	margin-top: 8px;
	margin-left: 8px;
}
