@import "./colors.css";

* {
	all: unset;
	font-size: 16px;
	font-family: "Inter Display, CaskaydiaCove Nerd Font Propo";
}

:root {
	--notification-icon-size: 64px;
	--notification-app-icon-size: calc(var(--notification-icon-size) / 4);
	--notification-group-icon-size: 16px;
	--border-radius: 4px;
	--hover-transition: background 0.15s ease-in-out;
	--group-collapse-transition: opacity 400ms ease-in-out;
}

notificationwindow,
blankwindow {
	background: transparent;
}

.close-button {
	/* The notification Close Button */
	background: @error;
	color: @on-error;
	text-shadow: none;
	padding: 0px;
	margin: 8px;
	border-radius: var(--border-radius);
	box-shadow: none;
	border: none;
	min-width: 8px;
	min-height: 8px;
}

tooltip {
	background-color: @surface;
	color: @on-surface;
	border: 0.2px solid @on-primary-fixed-variant;
	padding: 4px;
}

tooltip label {
	font-size: 0.8em;
}

.close-button:hover {
	background: @secondary;
}

.notification-row {
}

.notification-row:focus {
}

.notification-background {
	padding: 8px;
}

.notification {
	/* The actual notification */
	background: @surface;
	padding: 8px;
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
	box-shadow: 0px 1px 8px -2px @shadow;
}

.notification:last-child {
}

.notification.low {
	/* Low Priority Notification */
}

.notification.normal {
	/* Normal Priority Notification */
}

.notification.critical {
	/* Critical Priority Notification */
	border-color: @error;
}

.notification-default-action {
	/* The large action that also displays the notification summary and body */
	box-shadow: none;
	background: transparent;
	border: none;
	color: @on-surface;
}

.notification-default-action:hover {
}

.notification-default-action:not(:only-child) {
	/* When alternative actions are visible */
}

.notification-content {
	background: transparent;
	border-radius: 0px;
	border-left: 4px solid @primary;
	padding: 8px;
}

.notification.low .notification-content {
	border-color: @outline;
}

.notification.critical .notification-content {
	border-color: @error;
}

.notification-content .image {
	/* Notification Primary Image */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-icon-size);
	border-radius: var(--border-radius);
	/* Size in px */
	margin-right: 16px;
	margin-left: 8px;
}

.app-icon {
	/* Notification app icon (only visible when the primary image is set) */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-app-icon-size);
	margin: 6px;
}

.text-box label {
	/* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
	filter: none;
}

.text-box .summary {
	/* Notification summary/title */
	color: @on-surface;
	font-size: 1.2em;
	font-weight: 600;
	background: transparent;
	text-shadow: none;
}

.text-box .time {
	/* Notification time-ago */
	font-weight: 300;
	font-size: 0.8em;
	background: transparent;
	color: @outline;
	text-shadow: none;
}

.text-box .body {
	/* Notification body */
	font-weight: normal;
	background: transparent;
	color: @on-surface;
	text-shadow: none;
}

.notification progressbar {
	/* The optional notification progress bar */
	margin-top: 4px;
	min-height: 10px;
	filter: none;
	border-radius: var(--border-radius);
}

.notification trough {
	min-height: 10px;
	background-color: @surface-variant;
	border-radius: var(--border-radius);
}

.notification progress {
	min-height: 10px;
	background-color: @primary;
	border-radius: var(--border-radius);
}

.notification.low progress {
	background-color: @outline;
}

.notification.critical progress {
	background-color: @error;
}

.body-image {
	/* The "extra" optional bottom notification image */
	margin-top: 4px;
	background-color: transparent;
	-gtk-icon-filter: none;
}

.inline-reply {
	/* The inline reply section */
	margin-top: 4px;
}

.inline-reply-entry {
	background: transparent;
	color: @on-surface;
	caret-color: @on-surface;
}

.inline-reply-button {
	margin-left: 4px;
	background: @surface-container;
	color: @on-surface;
}

.inline-reply .inline-reply-button:disabled {
	background: initial;
	color: @surface-container-lowest;
	border: 1px solid @on-primary-container;
	border-color: transparent;
}

.inline-reply-button:hover {
	background: @surface-variant;
}

.notification-alt-actions {
	background: none;
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	padding: 0px;
}

.notification-action {
	/* The alternative actions below the default action */
	margin: 4px 0px;
}

.notification-action > button {
	padding: 2px;
	margin: 0px 4px;
	border-radius: var(--border-radius);
	background: @surface-container;
	color: @on-surface;
	border: 1px solid @outline-variant;
}

.notification-action:first-child > button {
	margin-left: 0px;
}

.notification-action:last-child > button {
	margin-right: 0px;
}

.notification.critical .notification-action > button {
}

.notification-action > button:hover {
	transition: 200ms;
	background: @surface-variant;
}

.notification-group {
	/* Styling only for Grouped Notifications */
	background: transparent;
	color: @on-surface;
	transition: opacity 200ms ease-in-out;
	/* The groups close button */
}

.notification-group:focus {
}

.notification-group.low {
	/* Low Priority Group */
}

.notification-group.normal {
	/* Low Priority Group */
}

.notification-group.critical {
	/* Low Priority Group */
}

.notification-group .notification-group-close-button .close-button {
	margin: 8px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
	margin: 8px;
}

.notification-group .notification-group-headers {
	/* Notification Group Headers */
	background: transparent;
	color: @on-surface;
}

.notification-group .notification-group-headers .notification-group-icon {
	color: @on-surface;
	-gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
	color: @on-surface;
}

.notification-group .notification-group-buttons {
	/* Notification Group Buttons */
	color: @on-surface;
}

.notification-group.collapsed {
	/* When another group is expanded, lower the opacity of the collapsed ones */
}

.notification-group.collapsed.not-expanded {
}

.notification-group.collapsed .notification-row .notification {
}

.notification-group.collapsed .notification-row:not(:last-child) {
	/* Top notification in stack */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
}

.control-center {
	/* The Control Center which contains the old notifications + widgets */
	background: @surface;
	color: @on-surface;
	border-radius: var(--border-radius);
	padding: 12px;
	border: 2px solid @on-primary-fixed-variant;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.control-center .control-center-list-placeholder {
	/* The placeholder when there are no notifications */
	opacity: 1;
}

.control-center .control-center-list {
	/* List of notifications */
	padding: 0px;
	margin: 0px;
}

.control-center .notification-background {
	padding-left: 0px;
	padding-right: 0px;
}

.control-center .notification-row {
}

.control-center .notification {
	background: @surface-container;
	box-shadow: none;
}

.control-center .notification.critical {
	border-color: @error;
}

.control-center .notification-action > button {
	background: @surface;
}

.control-center .notification-action > button:hover {
	background: @surface-variant;
	border-color: @outline;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
	transition: var(--group-collapse-transition), var(--hover-transition);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
}

.blank-window {
	/* Window behind control center and on all other monitors */
	background: transparent;
}

.floating-notifications {
	background: transparent;
}

/*** Widgets ***/
.widget {
	margin: 4px 0px;
	padding: 8px;
	border-radius: var(--border-radius);
	background: @surface-container;
}

.widget-notifications {
	background: @surface;
	padding: 0px;
}

/* Title widget */
.widget-title {
	margin-top: 0px;
}

.widget-title > label {
	margin-right: 8px;
	font-size: 1.25em;
}

.widget-title > button {
	margin-left: 8px;
	border-radius: var(--border-radius);
	background-color: @surface;
	color: @on-surface;
	box-shadow: inset 0 0 0 0.5px @outline;
	padding: 6px 12px;
}

.widget-title > button:hover {
	background: @surface-variant;
}

.widget-title > button:active {
	background-color: @primary-container;
	color: @primary;
}

/* DND widget */
.widget-dnd {
	background: @surface-container;
}

.widget-dnd label {
	color: @on-surface;
	margin-right: 8px;
	font-size: 0.9em;
}

.widget-dnd switch {
	padding: 2px;
	border-radius: var(--border-radius);
	background: @surface;
	border: 0.5px solid @outline;
}

.widget-dnd > switch:checked {
	background: @primary;
	border-color: @primary;
}

.widget-dnd switch slider {
	border-radius: var(--border-radius);
	background: @outline;
	border: 0.5px solid @surface-variant;
}

.widget-dnd > switch:checked slider {
	background: @surface;
	border-color: @primary;
}

/* Label widget */
.widget-label > label {
}

/* Mpris widget */
:root {
	--mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
	--mpris-button-hover: rgba(0, 0, 0, 0.5);
	--mpris-album-art-icon-size: 80px;
}

.widget-mpris {
	/* The parent to all players */
	padding: 0px;
}

.widget-mpris-player {
	margin: 8px;
}

.mpris-background {
}

.mpris-overlay {
	padding: 0px;
	background-color: @surface-container;
}

.mpris-overlay button {
	/* The media player buttons (play, pause, next, etc...) */
	padding: 6px;
	background: @surface;
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
}

.mpris-overlay button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.mpris-overlay button:active {
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

.widget-mpris-album-art {
	border-radius: var(--border-radius);
	-gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris-title {
	font-weight: 600;
}

.widget-mpris-subtitle {
	font-size: 0.8em;
}

.widget-mpris > box > button {
	margin: 0px 8px;
	background: @surface-container-highest;
}

.widget-mpris > box > button:disabled {
	/* Change player side buttons insensitive */
	color: @outline-variant;
}

/* Buttons widget */

.widget-buttons-grid {
}

.widget-buttons-grid flowboxchild > button {
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
	transition: all 0s;
	padding: 4px 0px;
	margin: 4px;
	background-color: @surface;
}

.widget-buttons-grid flowboxchild > button label {
	font-size: 1.2em;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
	/* style given to the active toggle button */
	background-color: @primary;
	color: @on-primary;
}

.widget-buttons-grid flowboxchild > button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.widget-buttons-grid flowboxchild > button.toggle:active,
.widget-buttons-grid flowboxchild > button:active {
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

/* Menubar widget */
.widget-menubar {
	/* The revealer buttons */
	/* .AnyName { Name defined in config after #
    background-color: rgba(var(--noti-bg), 1.0);
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
  }

  .AnyName>button {
    background: transparent;
    border: none;
  }

  .AnyName>button:hover {
    background-color: var(--noti-bg-hover);
  } */
}

.widget-menubar > .menu-button-bar {
	/* The left button container */
	/* The right button container */
	/* The left and right button container */
}

.widget-menubar > .menu-button-bar > .start {
	margin-left: 8px;
}

.widget-menubar > .menu-button-bar > .end {
	margin-right: 8px;
}

.widget-menubar > .menu-button-bar > .widget-menubar-container button {
	border-radius: var(--border-radius);
	margin: 0 4px;
}

.widget-menubar > revealer * {
	margin-top: 8px;
}

.widget-menubar > revealer * button {
	border-radius: var(--border-radius);
	margin: 8px;
	margin-top: 0;
}

.widget-menubar > revealer * button:last-child {
	margin-bottom: 0;
}

/* Volume widget */
:root {
	--widget-volume-row-icon-size: 16px;
}

/* Each row app icon */

.widget-backlight,
.widget-volume {
}

.widget-backlight {
}

.widget-volume {
}

.widget-backlight trough,
.widget-volume trough {
	background-color: @surface;
	border: 1px solid @outline-variant;
	border-radius: var(--border-radius);
	min-height: 4px;
	margin: 2px 0px;
	margin-left: 8px;
}

.widget-backlight slider,
.widget-volume slider {
	background-color: @outline-variant;
	border: 1px solid @outline;
	border-radius: var(--border-radius);
	min-height: 4px;
	min-width: 15px;
}

.widget-backlight slider:hover,
.widget-volume slider:hover {
	background-color: @outline;
}

.widget-backlight highlight,
.widget-volume highlight {
	background-color: @primary;
	border-radius: var(--border-radius);
	min-height: 4px;
}

.widget-volume row image {
	-gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
	border-radius: var(--border-radius);
	margin-top: 8px;
	margin-left: 8px;
}

/* Slider widget */
.widget-slider label {
	font-size: inherit;
}

/* Backlight widget */
/* Inhibitors widget */
.widget-inhibitors > label {
	margin-right: 8px;
	font-size: 1.2em;
}

.widget-inhibitors > button {
	margin-left: 8px;
	border-radius: var(--border-radius);
}
