@import "./colors.css";

* {
	all: unset;
	font-size: 16px;
	font-family: "Inter Display, CaskaydiaCove Nerd Font Propo";
}

:root {
	--border-radius: 4px;
	--margin: 8px;
	--padding: var(--margin);
	--transition-duration: 100ms;

	--notification-progress-thickness: 10px;
	--control-center-slider-thickness: 5px;
	--control-center-slider-handle-length: 12px;
	--slider-icon-size: 14px;

	--notification-icon-size: 56px;
	--notification-app-icon-size: calc(var(--notification-icon-size) / 4);
	--notification-group-icon-size: 16px;
	--mpris-album-art-icon-size: 80px;
}

.close-button {
	/* The notification Close Button */
	background: @error;
	color: @on-error;
	margin: var(--margin);
	border-radius: var(--border-radius);
	transition: var(--transition-duration);
}

.close-button:hover {
	box-shadow: 0px 0px 2px 0px inset @error-container;
}

.close-button:active {
	transition: none;
	background: @error-container;
	color: @on-error-container;
	box-shadow: 0px 0px 0px 1px inset @error;
}

tooltip {
	background-color: @surface;
	color: @on-surface;
	border: 0.5px solid @primary;
	padding: calc(var(--padding) / 2) var(--padding);
}

tooltip label {
	font-size: 0.8em;
}

.notification-background {
	padding: var(--padding);
}

.notification {
	/* The actual notification */
	background: @surface;
	color: @on-surface;
	border-radius: var(--border-radius);
	border: 2px solid @outline-variant;
	box-shadow: 0px 1px 8px -2px @shadow;
}

.notification.critical {
	border-color: @error;
}

.notification-default-action {
	/* The large action that also displays the notification summary and body */
	padding: var(--padding);
}

.notification-content {
	border-left: 4px solid @primary;
	padding: var(--padding);
}

.notification.low .notification-content {
	border-color: @outline;
}

.notification.critical .notification-content {
	border-color: @error;
}

.notification-content .image {
	/* Notification Primary Image */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-icon-size);
	border-radius: var(--border-radius);
	margin-left: var(--margin);
	margin-right: calc(var(--margin) * 2);
}

.app-icon {
	/* Notification app icon (only visible when the primary image is set) */
	-gtk-icon-filter: none;
	-gtk-icon-size: var(--notification-app-icon-size);
	margin: var(--margin);
}

.text-box .summary {
	font-size: 1.2em;
	font-weight: 600;
}

.text-box .time {
	font-weight: 300;
	font-size: 0.8em;
	color: @on-surface-variant;
}

.notification progressbar {
	/* The optional notification progress bar */
	margin-top: calc(var(--margin) / 2);
	min-height: var(--notification-progress-thickness);
	border: 1px solid @outline-variant;
	border-radius: var(--border-radius);
}

.notification trough {
	min-height: var(--notification-progress-thickness);
	background-color: @surface-variant;
	border-radius: var(--border-radius);
}

.notification progress {
	min-height: var(--notification-progress-thickness);
	background-color: @primary;
	border-radius: var(--border-radius);
}

.notification.low progress {
	background-color: @outline;
}

.notification.critical progress {
	background-color: @error;
}

.body-image {
	/* The "extra" optional bottom notification image */
	-gtk-icon-filter: none;
}

.inline-reply {
	/* The inline reply section */
	margin-top: calc(var(--margin) / 2);
}

.inline-reply-entry {
	color: @on-surface;
	caret-color: @on-surface;
}

.inline-reply-button {
	margin-left: calc(var(--margin) / 2);
	background: @surface-container;
	color: @on-surface;
}

.inline-reply-button:hover {
	background: @surface-variant;
}

.inline-reply-button:disabled {
	background: @surface;
	color: @outline;
}

.notification-action {
	/* The alternative actions below the default action */
	margin: var(--margin);
	margin-top: 0px;
}

.notification-action > button {
	padding: calc(var(--padding) / 2);
	border-radius: var(--border-radius);
	transition: var(--transition-duration);
	background: @primary;
	color: @on-primary;
}

.notification-action > button:hover {
	background: @secondary;
	color: @on-secondary;
}

.notification-action > button:active {
	transition: none;
	background: @primary-container;
	color: @primary;
	box-shadow: 0px 0px 0px 1px inset @primary;
}

.notification.low .notification-action > button {
	background: @outline;
	color: @surface;
}

.notification.low .notification-action > button:hover {
	background: @secondary;
	color: @on-secondary;
}

.notification.low .notification-action > button:active {
	background: @surface-variant;
	color: @secondary;
	box-shadow: 0px 0px 0px 1px inset @secondary;
}

.notification.critical .notification-action > button {
	background: @error;
	color: @on-error;
}

.notification.critical .notification-action > button:hover {
	background: @on-surface;
	color: @surface;
}

.notification.critical .notification-action > button:active {
	background: @error-container;
	color: @error;
	box-shadow: 0px 0px 0px 1px inset @error;
}

.notification-group {
}

.notification-group .notification-group-close-button .close-button {
	margin: var(--margin);
}

.notification-group-buttons,
.notification-group-headers {
	margin: var(--margin);
}

.notification-group-icon {
	color: @outline;
	-gtk-icon-size: var(--notification-group-icon-size);
	margin-right: calc(var(--margin) / 2);
}

.notification-group-header {
	font-size: 0.9em;
}

.notification-group-buttons {
	color: @outline;
}

.notification-group-buttons button {
	transition: var(--transition-duration);
	padding: calc(var(--padding) / 4);
	border-radius: var(--border-radius);
}

.notification-group-buttons button:hover {
	background: @surface-variant;
}

.notification-group-buttons button:active {
	transition: none;
	background: @secondary-container;
	color: @secondary;
}

.notification-group-buttons button.notification-group-close-all-button:active {
	background: @error-container;
	color: @error;
}

.control-center {
	background: @surface;
	color: @on-surface;
	border-radius: var(--border-radius);
	padding: calc(var(--padding) * 1.5);
	border: 2px solid @on-primary-fixed-variant;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.control-center-list-placeholder {
	color: @outline;
}

.control-center .notification-background {
	padding: calc(var(--padding) / 2) 0px;
}

.control-center .notification {
	background: @surface-container;
	box-shadow: none;
}

.control-center .notification.critical {
	border-color: @error;
}

.control-center .notification-default-action,
.control-center .notification-action {
	transition: var(--transition-duration);
}

.blank-window {
	/* Window behind control center and on all other monitors */
	background: rgba(0, 0, 0, 0.25);
}

/*** Widgets ***/

.widget {
	margin: calc(var(--margin) / 2) 0px;
	padding: var(--padding);
	border-radius: var(--border-radius);
	background: @surface-container;
}

.widget:first-child {
	margin-top: 0px;
}

.widget:last-child {
	margin-bottom: 0px;
}

.widget-notifications {
	background: transparent;
	padding: 0px;
}

.widget-title > label {
	font-size: 1.25em;
}

.widget-title > button {
	transition: var(--transition-duration);
	border-radius: var(--border-radius);
	background-color: @surface;
	border: 1px solid @outline-variant;
	padding: calc(var(--padding) / 2) var(--padding);
}

.widget-title > button:hover {
	background: @surface-variant;
	border-color: @outline;
}

.widget-title > button:active {
	transition: none;
	background-color: @primary-container;
	color: @primary;
	border-color: @primary;
}

.widget-dnd label {
	font-size: 0.9em;
}

.widget-dnd switch {
	padding: calc(var(--padding) / 4);
	border-radius: var(--border-radius);
	background: @surface;
	border: 1px solid @outline-variant;
}

.widget-dnd > switch:checked {
	background: @primary;
}

.widget-dnd switch slider {
	border-radius: calc(var(--border-radius) - calc(var(--padding) / 4));
	background: @outline;
}

.widget-dnd > switch:checked slider {
	background: @surface;
}

.widget-mpris {
	padding: calc(var(--padding) / 2);
}

.mpris-overlay {
	padding: calc(var(--padding) / 2);
	background: @surface-container;
}

.mpris-overlay button {
	/* The media player buttons (play, pause, next, etc...) */
	padding: calc(var(--padding) / 2);
	margin-top: var(--margin);
	background: @surface;
	transition: var(--transition-duration);
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
}

.mpris-overlay button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.mpris-overlay button:active {
	transition: none;
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

.mpris-overlay button:disabled {
	background: inherit;
	color: @outline;
	border-color: transparent;
}

.widget-mpris-album-art {
	border: 1px solid @outline;
	padding: calc(var(--padding) / 4);
	border-radius: var(--border-radius);
	-gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris-title {
	font-weight: 600;
}

.widget-mpris-subtitle {
	font-size: 0.8em;
}

.widget-mpris > box > button {
	/* Change player side buttons */
	margin: 0px calc(var(--margin) * 1.5);
	color: @on-surface-variant;
}

.widget-mpris > box > button:disabled {
	color: @outline-variant;
}

.widget-buttons-grid flowboxchild > button {
	border-radius: var(--border-radius);
	border: 1px solid @outline-variant;
	transition: var(--transition-duration);
	padding: calc(var(--padding) / 2) 0px;
	margin: 0px calc(var(--margin) / 2);
	background-color: @surface;
}

.widget-buttons-grid flowboxchild:first-child > button {
	margin-left: 0px;
}

.widget-buttons-grid flowboxchild:last-child > button {
	margin-right: 0px;
}

.widget-buttons-grid flowboxchild > button label {
	font-size: 1.2em;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
	/* style given to the active toggle button */
	background-color: @primary;
	color: @on-primary;
}

.widget-buttons-grid flowboxchild > button:hover {
	background-color: @surface-variant;
	border-color: @outline;
}

.widget-buttons-grid flowboxchild > button.toggle:active,
.widget-buttons-grid flowboxchild > button:active {
	transition: none;
	background-color: @primary-container;
	border-color: @primary;
	color: @primary;
}

.widget-backlight trough,
.widget-volume trough {
	background-color: @surface;
	border: 1px solid @outline-variant;
	border-radius: var(--border-radius);
	min-height: var(--control-center-slider-thickness);
	margin-left: var(--margin);
}

.widget-backlight slider,
.widget-volume slider {
	background-color: @outline-variant;
	border: 1px solid @outline;
	border-radius: var(--border-radius);
	min-height: var(--control-center-slider-thickness);
	min-width: var(--control-center-slider-handle-length);
}

.widget-backlight slider:hover,
.widget-volume slider:hover {
	background-color: @outline;
}

.widget-backlight highlight,
.widget-volume highlight {
	background-color: @primary;
	border-radius: var(--border-radius);
	min-height: var(--control-center-slider-thickness);
}

.widget-backlight > label,
.widget-volume > box > label {
	font-size: calc(var(--slider-icon-size) * 1.33);
}

.widget-volume row image {
	-gtk-icon-size: var(--slider-icon-size);
}

.widget-volume button {
	padding-left: calc(var(--padding) * 1.5);
	padding-right: calc(var(--padding) / 2);
	color: @on-surface-variant;
}

.per-app-volume > row {
	margin-top: var(--margin);
}

.per-app-volume > row > label {
	color: @outline;
	font-size: 0.9em;
}
