layout {
  border {
    active-color "#765084"
    urgent-color "#ba1a1a"
    inactive-color "#cec3cd"
  }

  insert-hint {
    gradient from="rgba(118, 80, 132, 0.5)" to="rgba(105, 89, 109, 0.5)"
  }

  shadow {
    color "rgba(0, 0, 0, 0.7)"
  }

  background-color "#e4b7f3"
}

overview {
  backdrop-color "#fff7fb"
}

window-rule {
  match is-floating=true

  border {
    active-color "#69596d"
  }
}
