@define-color main-bg rgba(255, 247, 251, 0.999);
@define-color main-fg #1f1a1f;

@define-color inact-fg rgba(126, 116, 125, 1);

@define-color act-bg #784f82;
@define-color act-fg #ffffff;

@define-color hvr-bg #6a596c;
@define-color hvr-fg #ffffff;

@define-color pill-bg #f5ebf2;
@define-color pill-hvr-bg #f0e5ec;

@define-color ter-bg #82524e;
@define-color ter-fg #ffffff;

@define-color crit-bg #ba1a1a;
@define-color crit-fg #ffffff;

@define-color widget-col #e7b6f0;
@define-color widget-shadow rgba(95, 56, 105, 1);
@define-color border-outline rgba(95, 56, 105, 1);
