@define-color backdrop rgba(0, 0, 0, 0.5);
@define-color main-bg rgba(255, 247, 251, 1);
@define-color main-fg #1f1a1f;

@define-color act-bg #784f82;
@define-color act-fg #ffffff;

@define-color hvr-bg #6a596c;
@define-color hvr-fg #ffffff;
