@import "./colors/matugen-dark.css";

* {
  all: unset;
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font Propo";
  transition: 200ms;
}

:root {
  --mpris-album-art-icon-size: 72px;
}

trough highlight {
  background: @main-fg;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @pill-bg;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #89b4fa;
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.notification-row .notification-background .notification .notification-action button {
  padding: 0;
  margin: 0.5rem 0.2rem;
  box-shadow: none;
  background: @main-bg;
  border: 1pt solid @pill-bg;
  color: @main-fg;
  transition: all 0.15s ease-in-out;
  border-radius: 6pt;
  width: auto;
}

.notification-row .notification-background .notification .notification-action button:hover {
  background: @pill-bg;
}

.notification-row .notification-background .notification .notification-action button:active {
  background: @act-bg;
  border: 1pt solid @main-bg;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: inset 0 0 0 1.5px @border-col;
  border-radius: 8px;
  margin: 8px;
  background-color: @main-bg;
  color: @main-fg;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 8px;
  font-size: 1rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 0 1.5px @act-bg;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-size: 48px;
  border-radius: 100px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @main-fg;
  font-size: 1.1rem;
  font-weight: bold;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @border-col;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @main-fg;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 7px;
  color: @main-fg;
  background-color: @pill-bg;
  box-shadow: inset 0 0 0 1px @border-col;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px @border-col;
  background-color: @pill-bg;
  color: @main-fg;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px @border-col;
  background-color: @act-bg;
  color: @main-fg;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @main-bg;
  background-color: @crit-bg;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @crit-bg;
  color: @main-bg-alt;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @crit-bg;
  color: @main-bg;
}

.control-center {
  background-color: @main-bg;
  color: @main-fg;
  padding: 20px 20px 20px 20px;
  border-right: 2pt solid @border-col;
}

.control-center .widget-title>label {
  color: @main-fg;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @main-fg;
  background-color: @main-bg-alt;
  box-shadow: inset 0 0 0 1px @border-col;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #7c6f64;
  background-color: @border-col;
  color: @main-fg;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @pill-bg;
  background-color: @act-bg;
  color: @main-bg-alt;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @main-fg;
  background-color: @main-bg-alt;
  box-shadow: inset 0 0 0px 1px @border-col;
  margin-top: 10px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 2px 0 @act-bg;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @main-fg;
  font-size: 1.1rem;
  font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @inact-bg;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @main-fg;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 7px;
  color: @main-fg;
  background-color: @main-bg;
  box-shadow: inset 0 0 0 1px @border-col;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  box-shadow: inset 0 0 0 1px @hvr-border;
  background-color: @border-col;
  color: @main-fg;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  box-shadow: inset 0 0 0 1px @main-bg-alt;
  background-color: @act-bg;
  color: @main-bg;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @main-bg-alt;
  background-color: @crit-bg;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: #1e1e2e;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 3px @border-col;
  color: #ddc7a1;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 3px @main-bg-alt;
  background-color: @act-bg;
  color: @main-bg;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
  background-color: @act-bg;
  color: @main-bg;
}

.notification.critical progress {
  background-color: @crit-bg;
}

.notification.low progress,
.notification.normal progress {
  background-color: @act-bg;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 6px;
  background-color: @main-bg-alt;
  border: 1px solid @border-col;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @act-bg;
}

.control-center-dnd slider {
  background: @border-col;
  border-radius: 7px;
}

.widget-dnd {
  margin: 0px 0px 10px 0px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 7px;
  background-color: @main-bg-alt;
  border: 1px solid @border-col;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background-color: @act-bg;
}

.widget-dnd>switch slider {
  background: @pill-bg;
  border-radius: 7px;
  border: 1px solid @border-col;
}

.widget-mpris {
  background-color: @main-bg-alt;
  padding: 12px 0;
  margin: 1.5rem 0;
  border-radius: 7pt;
  border: 1px solid @border-col;
}

.mpris-background {
  opacity: 0;
}

.mpris-overlay button {
  margin: 4px;
}

.mpris-overlay button:hover {
  color: @act-bg;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.0rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-mpris > box > button {
  color: transparent;
}

.widget-menubar>box>.menu-button-bar>button>label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar>box>.menu-button-bar> :last-child {
  color: @act-bg;
}

.control-center .widget-label>label {
  color: @main-fg;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
  border-top: 1pt solid @border-col;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-size: 2.2rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border: 1px solid @border-col;
  border-radius: 7px;
  margin: 4px;
  background: @main-bg-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  border-color: #a89984;
  background-color: @border-col;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @main-fg;
}

.widget-volume trough highlight {
  background: @act-bg;
}

.widget-backlight trough highlight {
  background: #d8a657;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @main-fg;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
