spawn-at-startup "systemctl" "--user" "start" "waybar-niri.service"
spawn-at-startup "systemctl" "--user" "start" "swaync-niri.service"
spawn-at-startup "systemctl" "--user" "start" "overview-blur.service"
spawn-at-startup "waypaper" "--restore" "--backend" "swww"
spawn-at-startup "~/.scripts/reload-portal.sh"
