  @define-color border-col #928374;

  @define-color main-bg #f9f5d7;
  @define-color main-bg-alt #f3eac7;
  @define-color main-fg #654735;
  @define-color main-fg-alt #4f3829;

  @define-color hvr-border #7c6f64;

  @define-color inact-bg #a89984;
  @define-color inact-fg #654735;

  @define-color act-bg #4c7a5d;
  @define-color act-fg #f3eac7;

  @define-color crit-bg #c14a4a;
  @define-color crit-fg #f3eac7;

  @define-color pill-bg #f2e5bc;
