/**
 * @name Midnight (Matugen)
 * @description Modified template based on midnight-discord.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
  /* font, change to 'gg sans' for default discord font*/
  --font: 'Inter Variable';
  --code-font: 'CaskaydiaCove Nerd Font';

  /* amount of spacing and padding */
  --gap: 12px;
  /* thickness of unread messages divider and highlighted message borders */
  --divider-thickness: 4px;
  /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  --border-thickness: 2px;
  /* Border radius settings */
  --radius-lg: 4px;
  --radius-md: 4px;

  /* animations */
  --list-item-transition: 0.2s ease;
  /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease;
  /* unread bar moving into view transition */
  --dms-icon-svg-transition: 0.4s ease;
  /* moon icon spin */

  /* top bar options */
  --top-bar-height: var(--gap);
  /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
  --top-bar-button-position: titlebar;
  /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
  --top-bar-title-position: left;
  /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: on;
  /* off: default, on: hide the icon and use subtle text color (like old discord) */

  /* window controls */
  --custom-window-controls: on;
  /* off: default window controls, on: custom window controls */
  --window-control-size: 14px;
  /* size of custom window controls */

  /* chatbar options */
  --custom-chatbar: aligned;
  /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
  --chatbar-height: 47px;
  /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */

  /* other options */
  --small-user-panel: off;
  /* off: default user panel, on: smaller user panel like in old discord */

  /* dms button options */
  --custom-dms-icon: custom;
  /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url('https://raw.githubusercontent.com/SatanAlphabet/dotfiles/main/assets/discord-logo.svg');
  /* icon svg url. MUST BE A SVG. */
  /* Arch logo: https://www.vectorlogo.zone/logos/archlinux/archlinux-icon.svg */
  --dms-icon-svg-size: 100%;
  /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--accent-3);
  /* normal icon color */
  --dms-icon-color-after: {{colors.on_primary.default.hex}};
  /* icon color when button is hovered/selected */
  --custom-dms-background: off;
  /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url('');
  /* url of the background image */
  --dms-background-image-size: cover;
  /* size of the background image (css background-size property) */
  --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2));
  /* fixed color/gradient (css background property) */
}
/* customize things here */
:root {

  --colors: on; /* off: discord default colors, on: midnight custom colors */

	/* top left corner text */
	--corner-text: 'Midnight';
	/* color of status indicators and window controls */
  <* if {{ is_dark_mode }} *>
  --online: {{colors.green.default.hex | auto_lightness: 8.0}};     /* change to #23a55a for default green */
	--dnd: {{colors.red.default.hex | auto_lightness: 8.0}};                  /* change to #f13f43 for default red */
	--idle: {{colors.yellow.default.hex | auto_lightness: 8.0}};    /* change to #f0b232 for default yellow */
	--streaming: {{colors.magenta.default.hex | auto_lightness: 8.0}};       /* change to #593695 for default purple */
  <* else *>
  --online: {{colors.green.default.hex | auto_lightness: 5.0 | saturate: 25.0, "hsl"}};     /* change to #23a55a for default green */
	--dnd: {{colors.red.default.hex | auto_lightness: 5.0 | saturate: 25.0, "hsl"}};                  /* change to #f13f43 for default red */
	--idle: {{colors.yellow.default.hex | auto_lightness: 5.0 | saturate: 25.0, "hsl"}};    /* change to #f0b232 for default yellow */
	--streaming: {{colors.magenta.default.hex | auto_lightness: 5.0 | saturate: 25.0, "hsl"}};       /* change to #593695 for default purple */
  <* endif *>
  --offline: {{colors.outline.default.hex}}; /* change to #82838b for default offline color */

	/* accent colors */
  --accent-1: {{colors.tertiary.default.hex}};            /* links */
	--accent-2: {{colors.primary.default.hex}};             /* general unread/mention elements, some icons when active */
	--accent-3: {{colors.primary.default.hex}};             /* accent buttons */
	--accent-4: {{colors.secondary.default.hex}};      /* accent buttons when hovered */
	--accent-5: {{colors.tertiary.default.hex}};   /* accent buttons when clicked */
	--accent-new: {{colors.error.default.hex}};
  --mention: linear-gradient(
      to right,
      color-mix(in hsl, {{colors.primary_container.default.hex}}, transparent 80%) 40%,
      transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
      to right,
      color-mix(in hsl, {{colors.primary_container.default.hex}}, transparent 90%) 40%,
      transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
      to right,
      color-mix(in hsl, {{colors.tertiary_container.default.hex}}, transparent 80%) 40%,
      transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
      to right,
      color-mix(in hsl, {{colors.tertiary_container.default.hex}}, transparent 90%) 40%,
      transparent
  ); /* background of messages that reply to you when hovered */

	/* text colors */
	--text-0: {{colors.surface.default.hex}};               /* text on colored elements */
	--text-1: {{colors.on_surface.default.hex}};            /* other normally white text */
	--text-2: {{colors.on_surface.default.hex}};            /* headings and important text */
	--text-3: {{colors.on_surface.default.hex}};            /* normal text */
	--text-4: {{colors.on_surface_variant.default.hex}};    /* icon buttons and channels */
	--text-5: {{colors.outline.default.hex}};               /* muted channels/chats and timestamps */

	/* background and default colors */
  --bg-1: {{colors.primary_container.default.hex}};                             /* dark buttons when clicked */
	--bg-2: {{colors.surface_container_high.default.hex}};              /* dark buttons */
	--bg-3: {{colors.surface_container_low.default.hex}};               /* spacing, secondary elements */
	--bg-4: {{colors.surface.default.hex}};                             /* main background color */
	--hover: {{colors.surface_container_low.default.hex}};                     /* channels and buttons when hovered */
	--active: {{colors.surface_container.default.hex}};                    /* channels and buttons when clicked or selected */
	--message-hover: {{colors.surface_container.default.hex}};             /* messages when hovered */

  /* border colors */
  --border-light: {{colors.surface_container_highest.default.hex}}; /* light border color */
  --border: {{colors.surface_container_highest.default.hex}}; /* normal border color */
  --border-hover: {{colors.outline_variant.default.hex}}; /*  border color of panels when hovered */
  --button-border: {{colors.surface_container_high.default.hex}}; /* neutral border color of buttons */

  /* base colors */
  --red-1: {{colors.red.default.hex}};
  --red-2: {{colors.red.default.hex | auto_lightness: 5.0}};
  --red-3: {{colors.red.default.hex | auto_lightness: 10.0}};
  --red-4: {{colors.red.default.hex | auto_lightness: 15.0}};
  --red-5: {{colors.red.default.hex | auto_lightness: 20.0}};

  --green-1: {{colors.green.default.hex}};
  --green-2: {{colors.green.default.hex | auto_lightness: 5.0}};
  --green-3: {{colors.green.default.hex | auto_lightness: 10.0}};
  --green-4: {{colors.green.default.hex | auto_lightness: 15.0}};
  --green-5: {{colors.green.default.hex | auto_lightness: 20.0}};

  --blue-1: {{colors.blue.default.hex}};
  --blue-2: {{colors.blue.default.hex | auto_lightness: 5.0}};
  --blue-3: {{colors.blue.default.hex | auto_lightness: 10.0}};
  --blue-4: {{colors.blue.default.hex | auto_lightness: 15.0}};
  --blue-5: {{colors.blue.default.hex | auto_lightness: 20.0}};

  --yellow-1: {{colors.yellow.default.hex}};
  --yellow-2: {{colors.yellow.default.hex | auto_lightness: 5.0}};
  --yellow-3: {{colors.yellow.default.hex | auto_lightness: 10.0}};
  --yellow-4: {{colors.yellow.default.hex | auto_lightness: 15.0}};
  --yellow-5: {{colors.yellow.default.hex | auto_lightness: 20.0}};

  --purple-1: {{colors.magenta.default.hex}};
  --purple-2: {{colors.magenta.default.hex | auto_lightness: 5.0}};
  --purple-3: {{colors.magenta.default.hex | auto_lightness: 10.0}};
  --purple-4: {{colors.magenta.default.hex | auto_lightness: 15.0}};
  --purple-5: {{colors.magenta.default.hex | auto_lightness: 20.0}};
}

