layout {
    border {
        active-color "{{colors.primary.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
        inactive-color "{{colors.outline_variant.default.hex}}"
    }
}
overview {
    backdrop-color "{{colors.surface.default.hex}}"
}
