* {
  background-alt:    {{colors.surface_container_high.default.hex}};
  background:        {{colors.surface.default.hex}};
  foreground:        {{colors.on_surface.default.hex}};
  selected:          {{colors.primary.default.hex}};
  active:            {{colors.primary.default.hex}};
  urgent:            {{colors.primary.default.hex}};
  border:            {{colors.surface_variant.default.hex}};
  dark-border:       {{colors.on_primary_fixed_variant.default.hex}};
}
