@define-color border-col {{colors.outline.default.hex}};
@define-color hvr-border {{colors.outline_variant.default.hex}};

@define-color main-bg {{colors.surface.default.hex}};
@define-color main-bg-alt {{colors.surface_variant.default.hex}};
@define-color main-fg {{colors.on_surface.default.hex}};
@define-color main-fg-alt {{colors.on_primary_container.default.hex}};

@define-color inact-bg {{colors.surface_container_highest.default.hex}};
@define-color inact-fg {{colors.on_surface.default.hex}};

@define-color crit-bg {{colors.error.default.hex}};
@define-color crit-fg {{colors.on_error.default.hex}};

@define-color act-bg {{colors.primary.default.hex}};
@define-color act-fg {{colors.on_primary.default.hex}};

@define-color pill-bg {{colors.surface_container_high.default.hex}};
