@media (prefers-color-scheme: dark) {
/* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: {{colors.secondary.dark.hex}} !important;
      --color-accent-primary: {{colors.primary.dark.hex}} !important;
      /* --color-accent-primary-hover: rgb(249, 217, 240) !important;
      --color-accent-primary-active: rgb(245, 195, 219) !important; */
      background-color: {{colors.surface_container.dark.hex}} !important;
      --in-content-page-background: {{colors.surface_container.dark.hex}} !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: {{colors.surface_container.dark.hex}} !important;
      --newtab-background-color-secondary: {{colors.surface_container_high.dark.hex}} !important;
      --newtab-element-hover-color: {{colors.surface_container_high.dark.hex}} !important;
      --newtab-text-primary-color: {{colors.secondary.dark.hex}} !important;
      --newtab-wordmark-color: {{colors.secondary.dark.hex}} !important;
      --newtab-primary-action-background: {{colors.primary.dark.hex}} !important;
    }

    .icon {
      color: {{colors.primary.dark.hex}} !important;
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: {{colors.primary.dark.hex}} !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: {{colors.surface_container_low.dark.hex}} !important;
      --in-content-text-color: {{colors.secondary.dark.hex}} !important;
      --link-color: {{colors.primary.dark.hex}} !important;
      /* --link-color-hover: rgb(249, 217, 240) !important; */
      --zen-colors-primary: {{colors.surface_container_high.dark.hex}} !important;
      --in-content-box-background: {{colors.surface_container_high.dark.hex}} !important;
      --zen-primary-color: {{colors.primary.dark.hex}} !important;
    }

    groupbox , moz-card{
      background: {{colors.surface_container.dark.hex}} !important;
    }

    button,
    groupbox menulist {
      background: {{colors.surface_container_high.dark.hex}} !important;
      color: {{colors.secondary.dark.hex}} !important;
    }

    .main-content {
      background-color: {{colors.surface_container_lowest.dark.hex}} !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: {{colors.surface_container_low.dark.hex}} !important;
      --background-color-box: {{colors.surface_container.dark.hex}} !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: {{colors.surface_container.dark.hex}} !important;
      --in-content-primary-button-text-color-hover: {{colors.secondary.dark.hex}} !important;
      --in-content-primary-button-background: {{colors.surface_container.dark.hex}} !important;
      --in-content-primary-button-text-color: {{colors.secondary.dark.hex}} !important;
    }

    .card {
      background-color: {{colors.surface_container_high.dark.hex}} !important;
    }
  }
}


@media (prefers-color-scheme: light) {
/* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: {{colors.secondary.light.hex}} !important;
      --color-accent-primary: {{colors.primary.light.hex}} !important;
      /* --color-accent-primary-hover: rgb(249, 217, 240) !important;
      --color-accent-primary-active: rgb(245, 195, 219) !important; */
      background-color: {{colors.surface_container.light.hex}} !important;
      --in-content-page-background: {{colors.surface_container.light.hex}} !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: {{colors.surface_container.light.hex}} !important;
      --newtab-background-color-secondary: {{colors.surface_container_high.light.hex}} !important;
      --newtab-element-hover-color: {{colors.surface_container_high.light.hex}} !important;
      --newtab-text-primary-color: {{colors.secondary.light.hex}} !important;
      --newtab-wordmark-color: {{colors.secondary.light.hex}} !important;
      --newtab-primary-action-background: {{colors.primary.light.hex}} !important;
    }

    .icon {
      color: {{colors.primary.light.hex}} !important;
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: {{colors.primary.light.hex}} !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: {{colors.surface_container_low.light.hex}} !important;
      --in-content-text-color: {{colors.secondary.light.hex}} !important;
      --link-color: {{colors.primary.light.hex}} !important;
      /* --link-color-hover: rgb(249, 217, 240) !important; */
      --zen-colors-primary: {{colors.surface_container_high.light.hex}} !important;
      --in-content-box-background: {{colors.surface_container_high.light.hex}} !important;
      --zen-primary-color: {{colors.primary.light.hex}} !important;
    }

    groupbox , moz-card{
      background: {{colors.surface_container.light.hex}} !important;
    }

    button,
    groupbox menulist {
      background: {{colors.surface_container_high.light.hex}} !important;
      color: {{colors.secondary.light.hex}} !important;
    }

    .main-content {
      background-color: {{colors.surface_container_lowest.light.hex}} !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark: {{colors.surface_container_low.light.hex}} !important;
      --background-color-box: {{colors.surface_container.light.hex}} !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: {{colors.surface_container.light.hex}} !important;
      --in-content-primary-button-text-color-hover: {{colors.secondary.light.hex}} !important;
      --in-content-primary-button-background: {{colors.surface_container.light.hex}} !important;
      --in-content-primary-button-text-color: {{colors.secondary.light.hex}} !important;
    }

    .card {
      background-color: {{colors.surface_container_high.light.hex}} !important;
    }
  }
}

