/* Very minor alpha reduction to fix black background issue on rounded corners */

<* for name, value in colors *>
@define-color {{ name | replace: "_", "-" }} {{ value.default.rgba | set_alpha: 0.99999 }};
@define-color {{ name | replace: "_", "-" }}-dark {{ value.dark.rgba | set_alpha: 0.99999 }};
@define-color {{ name | replace: "_", "-" }}-light {{ value.light.rgba | set_alpha: 0.99999 }};
<* endfor *>

