@define-color backdrop rgba({{colors.shadow.default.red}}, {{colors.shadow.default.green}}, {{colors.shadow.default.blue}}, 0.5);
@define-color main-bg {{colors.surface.default.rgba}};
@define-color main-fg {{colors.on_surface.default.hex}};

@define-color act-bg {{colors.primary.default.hex}};
@define-color act-fg {{colors.on_primary.default.hex}};

@define-color hvr-bg {{colors.secondary.default.hex}};
@define-color hvr-fg {{colors.on_secondary.default.hex}};
