window#waybar {
  background: @bar-bg;
  border-style: solid;
  border-width: 0pt 0pt 0.5pt 0pt;
  border-color: @border-col;
  color: @main-fg;
}

#pill {
  background-color: @pill-bg;
  border-style: solid;
  border-color: @border-col;
}

#backlight-slider {
  padding: 0em 0.3em;
  margin: 0em;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 5px;
  min-width: 80px;
  border-radius: 5px;
  background-color: @bar-bg;
}

#backlight-slider highlight {
  min-height: 5px;
  border-radius: 5px;
}

#privacy {
  margin-left: 0.3em;
}

#workspaces button {
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  min-width: 11.3pt;
  min-height: 1px;
  padding: 0em;
  margin: 0.8em 0.2em;
  color: @inact-bg;
  border: 0.01pt solid transparent;
  border-radius: 10rem;
  transition: color 0.25s, border 0.65s, margin 0.3s cubic-bezier(.2, .1, .0, 1);
}

#workspaces button.active {
  margin: 0.8em 0.7em;
  color: @main-fg;
  border-width: 1.0pt;
  border-color: @main-fg;
}

#workspaces button:hover {
  border-width: 1.3pt;
  border-color: @hvr-bg;
  transition: border 0.3s;
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 0em;
  border-radius: 10px;
  transition: all 0.3s;
}

#taskbar button:hover {
  background-color: @hvr-bg;
}

#workspaces,
#taskbar {
  padding: 0em;
}

window#waybar.top .modules-left,
window#waybar.top .modules-center,
window#waybar.top .modules-right {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

window#waybar.top label.module,
window#waybar.bottom label.module {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

window#waybar.top #pill {
  padding: 0.4em 0.4em 0.2em 0.4em;
  margin: 0.5em 0.3em 0.5em 0.3em;
  border-radius: 3.5pt;
  border-width: 0.5pt;
  border-color: @border-col;
  color: @main-fg;
}

window#waybar #custom-launcher {
  padding: 0em 0.7em 0em 0.5em;
}

window#waybar #custom-seperator {
  padding: 0em;
}

window#waybar #custom-swaync,
window#waybar #custom-launcher,
#mpris,
#window,
#language {
  color: @main-fg;
}

window#waybar #custom-swaync:hover,
window#waybar #custom-launcher:hover,
#language:hover {
  color: @hvr-bg;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#window {
  padding-left: 0.5em;
}

/* Color test
#privacy,
#idle_inhibitor,
#clock,
#backlight,
#pulseaudio,
#battery {
  color: #11111b;
}

#pill.right1 {
  background-color: #f38ba8;
}

#pill.right2 {
  background-color: #fab387;
}

#pill.right3 {
  background-color: #f9e2af;
}

#pill.right4 {
  background-color: #a6e3a1;
}
*/

/* ? Dynamic button */


tooltip {
  /* all: unset; */
  background: @main-bg;
  color: @main-fg;
  border-width: 0.2pt;
  border-color: @main-fg ;
}

#tray menu * {
  min-height: 1.6em;
}

#tray menu separator {
  min-height: 0.1em;
}

#language {
  min-width: 1em;
}

window#waybar #language {
  margin-left: 0.4em;
}

#tray {
  margin-left: 0.4em;
}

box.module {
  padding-left: 0em;
  border-color: red;
}
