* {
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-size: 10px;
}

window#waybar {
	box-shadow: none;
	text-shadow: none;
	background: @main-bg;
	color: @main-fg;
}

window#waybar.main .module {
	background: @pill-bg;
	margin: 0px 8px;
	padding: 4px 0px;
	border-radius: 0px;
}

window#waybar #pill.bottom:hover,
window#waybar .modules-center .module:hover {
  box-shadow: 0px 0px 0px .2px @act-bg inset;
}

window#waybar #workspaces:hover {
  box-shadow: none;
  transition: all 0s;
}

tooltip {
	background: @main-bg;
	color: @main-fg;
  border: 1px solid @border-outline;
}

tooltip label {
  font-size: 11px;
	color: @main-fg;
}

menu {
  background: @main-bg;
  color: @main-fg;
  border: 1px solid @border-outline;
}

menuitem {
  color: @main-fg;
}

menuitem label {
  font-size: 12px;
  font-family: "Inter Variable";
}

menuitem:hover {
  background: @pill-bg;
}

#pulseaudio,
#custom-sysupdate,
#custom-swaync,
#mpris,
#backlight,
#bluetooth,
#network,
#battery {
	font-size: 16px;
}

window#waybar .modules-left {
	margin-top: 15px;
}

window#waybar .modules-right {
	margin-bottom: 15px;
}

window#waybar #custom-launcher {
	font-size: 20px;
	background: transparent;
	color: @act-bg;
}

#battery.warning {
	color: @hvr-bg;
}

#battery.critical {
	color: @crit-bg;
}

window#waybar #custom-seperator-vertical {
	font-size: 13px;
	margin: -4px 0px;
	opacity: 0.3;
	background: transparent;
}

window#waybar #workspaces {
	margin: 0 8px;
}

#workspaces button {
	text-shadow: none;
	box-shadow: none;
	min-width: 1px;
	min-height: 1px;
	color: @main-fg;
	background: transparent;
	border-radius: 13pt;
	padding: 0px 0px;
	margin: 4px 5px;
	transition: all 0s;
	opacity: 0.5;
}

#workspaces button label {
	font-size: 11px;
}

#workspaces button.empty {
	background: transparent;
	opacity: 0.5;
}

#workspaces button.active {
	background: @act-bg;
	color: @main-bg;
	opacity: 1;
}

#workspaces button:hover {
	color: @act-bg;
	background: @inact-bg;
	opacity: 1;
}

#workspaces button.active:hover {
	color: @main-bg;
	background: @hvr-bg;
	opacity: 1;
}

window#waybar.main #clock {
  color: @hvr-bg;
	font-size: 16px;
	font-weight: 400;
	padding: 6px 0px;
}

/*
#custom-swaync {
  color: @act-bg;
  transition: all 0.5s;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
  color: @main-fg;
  transition: all 0.5s;
}
*/

window#waybar #pill {
	background: @pill-bg;
}

window#waybar #pill.bottom {
	padding: 5px 0px;
  margin: 0px 8px;
	padding-bottom: 0px;
}

window#waybar #privacy,
window#waybar #tray {
	padding: 0px;
	margin: 5px 1px;
}

#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
	opacity: 0.5;
}

window#waybar #language {
  color: @hvr-bg;
	font-size: 14px;
	font-weight: 600;
	background: transparent;
	margin-top: 5px;
}

/* Adjust margin & padding for modules in pills */
window#waybar.main #pill .module {
	background: transparent;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Allows for very thin bar (to be used as borders) */
window#waybar.top box,
window#waybar.bottom box {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
}

window#waybar.outline-left,
window#waybar.outline-right,
window#waybar.outline-top,
window#waybar.outline-bottom {
  background-color: @border-outline;
}

window#waybar.time-widget,
window#waybar.date-widget {
	background: transparent;
}

window#waybar.time-widget .module,
window#waybar.date-widget .module {
  background: transparent;
	font-family: "Inter Variable";
	color: @widget-col;
}

window#waybar #clock.time {
	font-size: 72px;
	font-weight: 600;
	padding: 25px 0px;
	margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 2px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 3px 3px @widget-shadow;
}

window#waybar #clock.date {
	font-size: 28px;
	font-weight: 400;
	padding: 8px 0px;
	margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 1px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 2px 2px @widget-shadow;
}

window#waybar #mpris.widget {
	font-size: 20px;
	font-weight: 300;
	margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 1px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 1.5px 1.5px @widget-shadow;
}
