* {
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-size: 16px;
}

window#waybar {
  box-shadow: none;
  text-shadow: none;
  background: @main-bg;
  color: @main-fg;
}

window#waybar.main .module {
  background: @pill-bg;
  margin: 0px 8px;
  padding: 4px 0px;
  border-radius: 20px;
}

window#waybar #pill {
  background: @pill-bg;
  margin: 0px 8px;
  border-radius: 20px;
}

window#waybar.main #pill:hover,
window#waybar.main .module:hover {
  box-shadow: 0px 0px 0px .3px @act-bg inset;
  background: @pill-hvr-bg;
}

window#waybar.main #language:hover,
window#waybar.main #taskbar:hover,
window#waybar.main #clock:hover,
window#waybar.main #custom-launcher:hover,
window#waybar.main #pill .module:hover,
window#waybar.main #workspaces:hover {
  box-shadow: inherit;
}

window#waybar #workspaces:hover {
  background: @pill-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border: 1px solid @border-outline;
}

tooltip label {
  font-size: 11px;
  color: @main-fg;
}

menu {
  background: @main-bg;
  color: @main-fg;
  border: 1px solid @border-outline;
}

menuitem {
  color: @main-fg;
}

menuitem label {
  font-size: 12px;
  font-family: "Inter Variable";
}

menuitem:hover {
  background: @pill-bg;
}

.hover-text {
  font-size: 11px;
}

window#waybar .modules-left {
  margin-top: 10px;
}

window#waybar .modules-right {
  margin-bottom: 10px;
}

window#waybar #custom-launcher {
  font-size: 20px;
  background: transparent;
  color: @act-bg;
}

#battery.warning {
  color: @hvr-bg;
}

#battery.critical {
  color: @crit-bg;
}

window#waybar #custom-seperator-vertical {
  font-size: 13px;
  margin: -8px 0px;
  opacity: 0.3;
  background: transparent;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  min-width: 0px;
  min-height: 0px;
  color: transparent;
  background: @hvr-bg;
  border-radius: 10px;
  padding: 3px 0px;
  margin: 6px 9px;
  transition: all 0s;
  opacity: 0.6;
}

#workspaces button label {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 0px;
}

#workspaces button.empty {}

#workspaces button.active {
  padding: 12px 0px;
  margin: 6px 7px;
  background: @act-bg;
  color: @act-fg;
  opacity: 1;
}

#workspaces button.active label {
  font-size: 11px;
}

#workspaces button:hover {
  opacity: 1;
}

#workspaces button.active:hover {
  background: @hvr-bg;
  opacity: 1;
}

window#waybar #taskbar {
  background: transparent;
  margin: 0px 6px;
}

#taskbar button {
  min-width: 0px;
  min-height: 0px;
  padding: 6px;
  margin: 1px 0px;
  border-radius: 200px;
  opacity: 0.6;
}

#taskbar button:hover {
  background: @act-bg;
}

#taskbar button.active {
  opacity: 1;
  background: @pill-hvr-bg;
  box-shadow: 0px 0px 0px .5px @act-bg inset;
}

window#waybar.main #clock {
  background: transparent;
  color: @act-bg;
  font-size: 16px;
  font-family: "Inter Variable";
  font-feature-settings: "tnum";
  font-weight: 400;
}

window#waybar #tray {
  padding-top: 6px;
  padding-bottom: 6px;
}

/*
#custom-swaync.dnd-inhibited-notification,
#custom-swaync.dnd-notification,
#custom-swaync.inhibited-notification,
#custom-swaync.notification {
  color: @act-bg;
}
*/

#pulseaudio.muted,
#mpris.paused,
#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
  color: @inact-fg;
}

window#waybar #language {
  color: @hvr-bg;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
}

/* Adjust margin & padding for modules in pills */
window#waybar.main #pill .module {
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Allows for very thin bar (to be used as borders) */
window#waybar.top box,
window#waybar.bottom box {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
}

window#waybar.outline-left,
window#waybar.outline-right,
window#waybar.outline-top,
window#waybar.outline-bottom {
  background-color: @border-outline;
}

window#waybar.time-widget,
window#waybar.date-widget {
  background: transparent;
}

window#waybar.time-widget .module,
window#waybar.date-widget .module {
  background: transparent;
  font-family: "Inter Variable";
  color: @widget-col;
}

window#waybar #clock.widget-time {
  font-size: 72px;
  font-weight: 600;
  padding: 25px 0px;
  margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 2px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 3px 3px @widget-shadow;
}

window#waybar #clock.widget-date {
  font-size: 28px;
  font-weight: 400;
  padding: 8px 0px;
  margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 1px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 2px 2px @widget-shadow;
}

window#waybar #mpris.widget {
  font-size: 20px;
  font-weight: 300;
  margin: 0px 20px;
  text-shadow: -1px 0px @widget-shadow, 1px 0px @widget-shadow, 0px -1px @widget-shadow, 0px 2px @widget-shadow, 1.5px 1.5px @widget-shadow;
}
