* {
	font-family: "CaskaydiaCove Nerd Font Propo";
	font-size: 16px;
}

window#waybar {
	box-shadow: none;
	text-shadow: none;
	background: @surface;
	color: @on-surface;
}

window#waybar.main #privacy,
window#waybar.main .module {
	background: @surface-container-high;
	margin: 0px 8px;
	padding: 4px 0px;
	border-radius: 4px;
	transition: 100ms;
}

window#waybar.main #pill {
	background: @surface-container-high;
	margin: 0px 8px;
	border-radius: 4px;
	transition: 100ms;
}

window#waybar.main #privacy:hover,
window#waybar.main #pill:hover,
window#waybar.main .module:hover {
	box-shadow: 0px 0px 0px 0.5px @primary inset;
	background: @surface-variant;
}

window#waybar.main #language:hover,
window#waybar.main #taskbar:hover,
window#waybar.main #clock:hover,
window#waybar.main #custom-launcher:hover,
window#waybar.main #pill .module:hover,
window#waybar.main #workspaces:hover {
	box-shadow: inherit;
}

window#waybar.main #workspaces:hover {
	background: @surface-container-high;
}

tooltip {
	background: @surface;
	border: 1px solid @on-primary-fixed-variant;
	border-radius: 4px;
}

tooltip label {
	font-size: 11px;
	color: @on-surface;
}

menu {
	background: @surface;
	color: @on-surface;
	border: 1px solid @on-primary-fixed-variant;
	border-radius: 4px;
}

menuitem {
	color: @on-surface;
	border-radius: 4px;
}

menuitem arrow {
	color: @outline;
}

menuitem label {
	font-size: 12px;
	font-family: "Inter Variable";
}

menuitem:hover {
	background: @surface-container-high;
}

menuitem:hover arrow {
	color: @primary;
}

window#waybar.main .modules-left {
	margin-top: 10px;
}

window#waybar.main .modules-right {
	margin-bottom: 10px;
}

window#waybar.main #pill .alt {
	font-size: 11px;
	font-family: "Inter Variable";
	font-feature-settings: "tnum";
}

window#waybar.main .modules-left #pill .alt {
	margin-bottom: 1px;
	margin-top: -2px;
}

window#waybar.main .modules-right #pill .alt {
	margin-top: 1px;
	margin-bottom: -2px;
}

window#waybar.main #custom-launcher {
	font-size: 20px;
	background: transparent;
	color: @primary;
}

window#waybar.main #custom-launcher:hover {
	color: @secondary;
}

.warning {
	color: @tertiary;
}

.critical {
	color: @error;
}

window#waybar.main .recording,
window#waybar.main .recording:hover {
	background: @error;
	color: @on-error;
}

.muted,
.paused,
.disabled,
.disconnected,
.off {
	color: @outline;
}

window#waybar.main #custom-seperator-vertical {
	font-size: 13px;
	margin: -8px 0px;
	opacity: 0.3;
	background: transparent;
}

#workspaces button {
	text-shadow: none;
	box-shadow: none;
	min-width: 0px;
	min-height: 0px;
	color: transparent;
	background: @secondary;
	border-radius: 4px;
	padding: 4px 0px;
	margin: 6px 8px;
	transition: none;
	opacity: 1;
}

#workspaces button label {
	font-weight: 500;
	font-family: "Roboto";
	font-size: 0px;
}

#workspaces button.empty {
	background: transparent;
	border: 1.8px solid @secondary;
}

#workspaces button.active {
	padding: 12px 0px;
	margin: 6px 7px;
	border: none;
	background: @primary;
	color: @on-primary;
	opacity: 1;
}

#workspaces button.active label {
	font-size: 11px;
}

#workspaces button:hover {
	background: @primary;
	border-color: @primary;
}

#workspaces button.active:hover {
	background: @secondary;
}

window#waybar.main #taskbar {
	background: transparent;
	margin: 0px;
}

#taskbar button {
	min-width: 0px;
	min-height: 0px;
	padding: 6px;
	margin: 1px 6px;
	opacity: 0.6;
	border: 0px solid transparent;
}

window#waybar.left.main #taskbar button {
	border-left-width: 2px;
}

window#waybar.right.main #taskbar button {
	border-right-width: 2px;
}

#taskbar button:hover {
	background: @secondary-container;
}

#taskbar button.active {
	opacity: 1;
	background: @surface-container-high;
	border-color: @primary;
}

window#waybar.main #clock {
	background: transparent;
	color: @primary;
	font-size: 16px;
	font-family: "Inter Variable";
	font-feature-settings: "tnum";
	font-weight: 400;
}

window#waybar.main #clock:hover {
	font-weight: 600;
}

window#waybar.main #privacy,
window#waybar.main #tray {
	padding-top: 6px;
	padding-bottom: 6px;
}

window#waybar.main #custom-swaync.cc-open {
	background: @primary;
	color: @on-primary;
}

window#waybar.main #language {
	color: @secondary;
	font-size: 15px;
	font-weight: 600;
	background: transparent;
}

/* Adjust margin & padding for modules in pills */
window#waybar.main #pill .module {
	background: transparent;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

window#waybar.outline-left,
window#waybar.outline-right,
window#waybar.outline-top,
window#waybar.outline-bottom {
	background-color: @on-primary-fixed-variant;
}

window#waybar.time-widget,
window#waybar.date-widget {
	background: transparent;
}

window#waybar.time-widget .module,
window#waybar.date-widget .module {
	background: transparent;
	font-family: "Inter Variable";
	color: @primary-fixed-dim;
}

window#waybar #clock.widget-time {
	font-size: 72px;
	font-weight: 600;
	padding: 25px 0px;
	margin: 0px 20px;
	text-shadow:
		-1px 0px @on-primary-fixed-variant,
		2px 0px @on-primary-fixed-variant,
		0px -1px @on-primary-fixed-variant,
		0px 2px @on-primary-fixed-variant,
		3px 3px @on-primary-fixed-variant;
}

window#waybar #clock.widget-date {
	font-size: 28px;
	font-weight: 400;
	padding: 8px 0px;
	margin: 0px 20px;
	text-shadow:
		-1px 0px @on-primary-fixed-variant,
		1px 0px @on-primary-fixed-variant,
		0px -1px @on-primary-fixed-variant,
		0px 2px @on-primary-fixed-variant,
		2px 2px @on-primary-fixed-variant;
}

window#waybar #mpris.widget {
	font-size: 20px;
	font-weight: 300;
	margin: 0px 20px;
	text-shadow:
		-1px 0px @on-primary-fixed-variant,
		1px 0px @on-primary-fixed-variant,
		0px -1px @on-primary-fixed-variant,
		0px 2px @on-primary-fixed-variant,
		1.5px 1.5px @on-primary-fixed-variant;
}
