* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 10px;
}

#pulseaudio,
#bluetooth,
#network,
#custom-sysupdate,
#custom-swaync,
#custom-drawer-arrow-up,
#mpris,
#bluetooth,
#battery {
  font-size: 16px;
}

window#waybar #custom-drawer-arrow-up {
  font-weight: bolder;
  padding-top: 0.5em;
}

window#waybar #custom-seperator {
  font-size: 18px;
  margin: 0 0.1em;
  padding: 0;
  opacity: 0.35;
  background: transparent;
}

window#waybar #custom-seperator.bottom {
}

window#waybar #custom-seperator.top {
}

/*
#custom-swaync {
  color: @act-bg;
  transition: all 0.5s;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
  color: @main-fg;
  transition: all 0.5s;
}
*/

window#waybar #language {
  font-size: 12px;
  font-weight: 500;
  background: transparent;
}

window#waybar {
  box-shadow: none;
  text-shadow: none;
  background: @bar-bg;
  color: @main-fg;
  border-bottom: 0.5pt solid @border-col;
}

window#waybar box.module,
window#waybar label.module {
  background: @pill-dark-bg;
  margin: 0.3em 0em;
  padding: 0em 0.4em;
  border-radius: 0pt;
}

window#waybar .modules-left {
  margin-left: 1em;
}

window#waybar .modules-right {
  margin-right: 1.5em;
}

window#waybar #custom-launcher {
  font-size: 18px;
  background: transparent;
  color: @main-fg-alt;
}

window#waybar #custom-glyph-picker,
window#waybar #custom-emoji-picker,
window#waybar #custom-browser,
window#waybar #custom-wallpaper,
window#waybar #custom-clipboard {
  font-size: 13px;
}

window#waybar #custom-picker,
window#waybar #custom-powermenu {
  font-size: 12px;
}

window#waybar #tray {
}

window#waybar #backlight {
  font-size: 16px;
}

window#waybar #workspaces {
  margin: 0.4em 0;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  min-width: 1px;
  min-height: 1px;
  color: @main-fg;
  background: transparent;
  border-radius: 13pt;
  padding: 0px 5px;
  margin: 7px 3px;
  transition: all 0s;
  opacity: 0.7;
}

#workspaces button.active {
  background: @main-fg-alt;
  color: @main-bg;
  opacity: 1;
}

#workspaces button:hover {
  color: @hvr-bg;
  opacity: 1;
  transition: all 0.5s;
}

window#waybar #clock {
  font-size: 14px;
  font-weight: 400;
  color: @main-fg;
}

window#waybar #pill {
  background: @pill-dark-bg;
  border-right: 1.0pt solid @border-col;
  padding: 0 0.1em;
  margin: 0;
}

window#waybar #memory {
  font-size: 12px;
  margin: 0.5em 0;
}

window#waybar #user,
window#waybar #window {
  background: transparent;
}

tooltip {
  /* all: unset; */
  background: @main-bg;
  color: @main-fg;
  border-width: 0.3pt;
  border-style: solid;
  border-color: @main-fg;
  border-radius: 0pt;
}

tooltip label {
	color: @main-fg;
}

#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
	opacity: 0.7;
}

#battery.warning {
	color: @hvr-bg;
}

#battery.critical {
	color: @crit-bg;
}

window#waybar .modules-right box.module,
window#waybar .modules-right label.module {
	background: transparent;
	margin-left: 0;
	margin-right: 0;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

window#waybar.left *,
window#waybar.right *,
window#waybar.bottom * {
	margin: 0;
	padding: 0;
	font-size: 0px;
	min-height: 0px;
	min-width: 0px;
	border: 0px solid transparent;
}

window#waybar #mpris.widget,
window#waybar.time-widget,
window#waybar.date-widget {
	background: transparent;
	border: 0px solid transparent;
}

window#waybar #mpris.widget,
window#waybar #clock.date,
window#waybar #clock.time {
	font-family: "Inter Variable";
	color: @widget-col;
}

window#waybar #clock.time {
	font-size: 72px;
	font-weight: 600;
	padding: 25px 0;
	margin: 0 20px;
}

window#waybar #clock.date {
	font-size: 24px;
	font-weight: 400;
	padding: 10px 0;
	margin: 0 20px;
}

window#waybar #mpris.widget {
	font-size: 18px;
	font-weight: 300;
	margin: 0 20px;
}
