#pulseaudio,
#backlight,
#custom-sysupdate,
#custom-swaync,
#custom-drawer-arrow-up,
#custom-launcher,
#mpris,
#battery {
	font-size: 15px;
}

window#waybar #custom-drawer-arrow-up {
	font-weight: bold;
}

#custom-swaync {
	color: @hvr-bg;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
	color: @main-fg;
}

#language {
	font-size: 13px;
}

window#waybar {
	box-shadow: none;
	text-shadow: none;
	background: @bar-bg;
	color: @main-fg;
	border-right: 0.6pt solid @border-col;
}

window#waybar .modules-left,
window#waybar .modules-center,
window#waybar .modules-right,
window#waybar label.module {
	padding: 0em;
	margin: 0.3em 0.5em;
	margin-right: 0.7em;
}

window#waybar .modules-left {
	margin-top: 0.7em;
}

window#waybar .modules-right {
	margin-bottom: 0.7em;
}

window#waybar box.module {
	padding: 0em;
}

window#waybar #tray {
	margin-bottom: 0.5em;
}

window#waybar #backlight {
	margin-bottom: 0.1em;
	margin-top: 0.1em;
}

#workspaces button {
	text-shadow: none;
	box-shadow: none;
	min-width: 6px;
	color: @inact-bg;
	border-radius: 10rem;
	padding: 0em;
	margin: 0.4em 0em;
}

#workspaces button.active {
	color: @main-fg;
	transition: all 0.3s;
}

#workspaces button:hover {
	color: @hvr-bg;
	transition: all 0.5s;
}

#clock {
	font-size: 14px;
}

window#waybar #pill {
	margin-top: 0.5em;
	background: @pill-bg;
	padding: 1.2em 0em;
	border-radius: 10rem;
}

tooltip {
	/* all: unset; */
	background: @main-bg;
	color: @main-fg;
	border-width: 0.2pt;
	border-color: @main-fg;
}
