#pulseaudio,
#custom-sysupdate,
#custom-swaync,
#custom-drawer-arrow-up,
#mpris,
#backlight,
#bluetooth,
#network,
#battery {
  font-size: 16px;
}

window#waybar #custom-drawer-arrow-up {
  font-weight: bolder;
  padding-top: 0.5em;
}

window#waybar #custom-seperator {
  font-size: 13px;
  margin: -0.3em 0;
  opacity: 0.4;
  background: transparent;
}

window#waybar #custom-seperator.bottom {
}

window#waybar #custom-seperator.top {
}

/*
#custom-swaync {
  color: @act-bg;
  transition: all 0.5s;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
  color: @main-fg;
  transition: all 0.5s;
}
*/

window#waybar #language {
  font-size: 14px;
  margin: 0 0.6em;
  border-radius: 5pt;
  font-weight: 400;
  background: transparent;
  margin-top: 0.4em;
}

window#waybar {
  box-shadow: none;
  text-shadow: none;
  background: @bar-bg;
  color: @main-fg;
  border-right: 0.5pt solid @border-col;
}

window#waybar box.module,
window#waybar label.module {
  background: @pill-dark-bg;
  margin: 0em 0.5em;
  padding: 0.2em 0;
  border-radius: 5pt;
}

window#waybar .modules-left {
  margin-top: 1.5em;
}

window#waybar .modules-right {
  margin-bottom: 1em;
}

window#waybar #custom-launcher {
  font-size: 20px;
  margin: 0 0.3em;
  background: transparent;
  color: @main-fg-alt;
}

window#waybar #custom-glyph-picker,
window#waybar #custom-emoji-picker,
window#waybar #custom-browser,
window#waybar #custom-wallpaper,
window#waybar #custom-clipboard {
  font-size: 13px;
}

window#waybar #custom-picker,
window#waybar #custom-powermenu {
  font-size: 12px;
}

window#waybar #privacy,
window#waybar #tray {
  padding: 0.5em 0;
  margin: 0em 0em;
}

window#waybar #workspaces {
  padding: 0.0em 0;
  margin: 0 0.8em;
  border-radius: 5pt;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  min-width: 1px;
  min-height: 1px;
  color: @main-fg;
  background: transparent;
  border-radius: 13pt;
  padding: 1px 0;
  margin: 5px 4px;
  transition: all 0.3s;
  opacity: 0.5;
}

#workspaces button label {
  font-size: 11px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  background: @main-fg-alt;
  color: @main-bg;
  opacity: 1;
}

#workspaces button:hover {
  color: @hvr-bg;
  background: @inact-bg;
  opacity: 1;
  transition: all 0.5s;
}

#workspaces button.active:hover {
  color: @main-bg;
  background: @hvr-bg;
  opacity: 1;
  transition: all 0.5s;
}

window#waybar #clock {
  font-size: 15px;
  font-weight: 300;
  margin: 0em 0.55em;
  padding: 0.4em 0;
  color: @main-fg-alt;
}

window#waybar #pill {
  background: @pill-dark-bg;
  border-radius: 5pt;
}

window#waybar #pill.bottom {
  margin: 0 0.8em;
  padding: 0.3em 0;
  padding-bottom: 0;
}


#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off {
  opacity: 0.7;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

tooltip {
  /* all: unset; */
  background: @main-bg;
  color: @main-fg;
  border-width: 0.3pt;
  border-style: solid;
  border-color: @main-fg;
  border-radius: 4pt;
}

/* Adjust margin & padding for modules in bottom pills */
window#waybar .modules-right label.module {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
