#pulseaudio,
#backlight,
#custom-sysupdate,
#custom-swaync,
#custom-drawer-arrow-up,
#mpris,
#bluetooth,
#battery {
  font-size: 15px;
}

#custom-glyph-picker,
#custom-emoji-picker,
#custom-wallpaper,
#custom-clipboard {
  font-size: 13px;
}

#custom-powermenu {
  font-size: 12px;
}

#custom-launcher,
window#waybar #custom-drawer-arrow-up {
  font-weight: bolder;
}

window#waybar #custom-launcher {
  font-size: 17px;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.2em 0;
  padding-left: 0.15rem;
  border-radius: 4pt;
  background: @pill-bg;
}

window#waybar #custom-seperator {
  font-size: 13px;
  margin: -0.2rem 0;
  padding: 0;
  opacity: 0.5;
}

window#waybar #custom-seperator.bottom {
  margin-bottom: -0.6rem;
}

window#waybar #custom-seperator.top {
  margin-top: -0.6rem;
}

/*
#custom-swaync {
  color: @act-bg;
  transition: all 0.5s;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
  color: @main-fg;
  transition: all 0.5s;
}
*/

#language {
  font-size: 13px;
}

window#waybar {
  box-shadow: none;
  text-shadow: none;
  background: @bar-bg;
  color: @main-fg;
  border-right: 1.0pt solid @border-col;
}

window#waybar .modules-left,
window#waybar .modules-center,
window#waybar .modules-right,
window#waybar label.module {
  padding: 0em;
  margin: 0.3em 0.4em;
  margin-right: 0.5em;
}

window#waybar .modules-left {
  margin-top: 0.3em;
}

window#waybar .modules-right {
  margin-bottom: 0.7em;
}

window#waybar box.module {
  padding: 0em;
}

window#waybar #battery {
  margin-left: 0;
  margin-right: 0;
}

window#waybar #tray {
  margin-bottom: 0.5em;
}

window#waybar #backlight {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

window#waybar #workspaces {
  padding: 0;
  margin: 0em 0.4em;
  border-radius: 6pt;
  background: @pill-dark-bg;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  min-width: 1px;
  min-height: 1px;
  background: transparent;
  color: @main-fg;
  border-radius: 4pt;
  padding: 7px 5px;
  margin: 0em;
  opacity: 0.45;
  transition: all 0.3s;
}

#workspaces button.active {
  opacity: 1;
  color: @main-fg;
}

#workspaces button:hover {
  opacity: 1;
  color: @hvr-bg;
  transition: all 0.5s;
}

window#waybar #clock {
  font-size: 14px;
  font-weight: 700;
  background: @pill-bg;
  padding: 0.4em 0.3em;
  margin: 0.3em 0.25em;
  margin-bottom: 0;
  border-radius: 3pt;
}

window#waybar #pill {
  background: @pill-bg;
  margin: 0.6em 0.2em;
  margin-right: 0.3em;
  margin-bottom: 0;
  padding: 0.4em 0em;
  border-radius: 6pt;
}

window#waybar #pill.top {
  margin: 0.8em 0.3em;
  margin-top: 0;
  padding: 0.3em 0;
}

window#waybar #pill.bottom {
  background: #232323;
  margin-top: 0;
}

tooltip {
  /* all: unset; */
  background: @main-bg;
  color: @main-fg;
  border-width: 0.3pt;
  border-style: solid;
  border-color: @main-fg;
  border-radius: 4pt;
}
