#pulseaudio,
#backlight,
#custom-sysupdate,
#custom-swaync,
#custom-drawer-arrow-up,
#custom-launcher,
#mpris,
#bluetooth,
#battery {
  font-size: 15px;
}

window#waybar #custom-drawer-arrow-up {
  font-weight: bold;
}

/*
#custom-swaync {
  color: @act-bg;
  transition: all 0.5s;
}

#custom-swaync.dnd-none,
#custom-swaync.none {
  color: @main-fg;
  transition: all 0.5s;
}
*/

#language {
  font-size: 13px;
}

window#waybar {
  box-shadow: none;
  text-shadow: none;
  background: @bar-bg;
  color: @main-fg;
  border-right: 0.6pt solid @border-col;
}

window#waybar .modules-left,
window#waybar .modules-center,
window#waybar .modules-right,
window#waybar label.module {
  padding: 0em;
  margin: 0.3em 0.5em;
}

window#waybar .modules-left {
  margin-top: 0.7em;
}

window#waybar .modules-right {
  margin-bottom: 0.7em;
}

window#waybar box.module {
  padding: 0em;
}

window#waybar #tray {
  margin-bottom: 0.5em;
}

window#waybar #backlight {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

#workspaces button {
  text-shadow: none;
  box-shadow: none;
  min-width: 1px;
  min-height: 1px;
  color: @inact-bg;
  border-radius: 15pt;
  padding: 0em;
  margin: 0.7em 9px;
  transition: all 0.3s;
}

#workspaces button.active {
  color: @main-fg;
}

#workspaces button:hover {
  color: @hvr-bg;
  transition: all 0.5s;
}

window#waybar #clock {
  font-size: 14px;
  font-weight: 700;
  background: @pill-bg;
  margin: 0.3em 0.2em;
  margin-bottom: 0;
  padding: 0.4em 0;
  border-radius: 4pt;
}

window#waybar #pill {
  background: @pill-bg;
  margin: 0.6em 0.2em;
  margin-bottom: 0;
  padding: 0.4em 0em;
  border-radius: 5pt;
}

tooltip {
  /* all: unset; */
  background: @main-bg;
  color: @main-fg;
  border-width: 0.3pt;
  border-style: solid;
  border-color: @main-fg;
  border-radius: 4pt;
}
